%p
  this box has a width transition on hover

#width.transition-example

%p
  this box has a width transition on hover, with a set duration

#width-duration.transition-example

%p
  this box has a width transition on hover, with a set duration, and uses the 'easein' timing function

#width-duration-easein.transition-example

%p
  this box has a few seconds delay, so wait a little before the transition occurs

#width-delay.transition-example