--- 
title: Blueprint Buttons
crumb: Buttons
framework: blueprint
stylesheet: blueprint/_buttons.scss
layout: blueprint
classnames:
  - reference
  - blueprint
---
- render 'reference' do
  :markdown
    Install the buttons module with:
    
        compass install blueprint/buttons
