--- 
title: Blueprint Buttons
crumb: Buttons
framework: blueprint
stylesheet: blueprint/_buttons.scss
layout: blueprint
classnames:
  - reference
  - blueprint
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
