--- 
title: Blueprint Colors
crumb: Colors
framework: blueprint
stylesheet: blueprint/_colors.scss
layout: blueprint
classnames:
  - reference
  - blueprint
---
- render 'reference' do
  %p
    Color constants that you can refer to and preset.
