--- 
title: Blueprint Colors
crumb: Colors
framework: blueprint
stylesheet: blueprint/_colors.scss
layout: blueprint
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
