--- 
title: Blueprint Debug
crumb: Debug
framework: blueprint
stylesheet: blueprint/_debug.scss
layout: blueprint
classnames:
  - reference
  - blueprint
---
- render 'reference' do
  %p
    Styles for debugging your grid alignments
