--- 
title: Blueprint Fancy Type
crumb: Fancy Type
framework: blueprint
stylesheet: blueprint/_fancy-type.scss
layout: blueprint
classnames:
  - reference
  - blueprint
---
- render 'reference' do
  %p
    Fancy Typography for your website.
