--- 
title: Blueprint Fancy Type
crumb: Fancy Type
framework: blueprint
stylesheet: blueprint/_fancy-type.scss
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
