--- 
title: Blueprint Form
crumb: Form
framework: blueprint
stylesheet: blueprint/_form.scss
layout: blueprint
classnames:
  - reference
  - blueprint
---
- render 'reference' do
  %p
    Basic form styles.
