--- 
title: Blueprint Grid
crumb: Grid
framework: blueprint
stylesheet: blueprint/_grid.scss
layout: blueprint
classnames:
  - reference
  - blueprint
---
- render 'reference' do
  %p
    The blueprint grid.
