--- 
title: Blueprint Grid
crumb: Grid
framework: blueprint
stylesheet: blueprint/_grid.scss
layout: blueprint
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
