--- 
title: Blueprint IE Compatibility
crumb: Internet Explorer
framework: blueprint
stylesheet: blueprint/_ie.scss
layout: blueprint
classnames:
  - reference
  - blueprint
---
- render 'reference' do
  :markdown
    This module should be imported into a stylesheet that will
    only be served to legacy versions of Internet Explorer. If
    you've used the blueprint project generator, this will be
    done for you. In a standard blueprint project you'll need
    the following:

    <pre class="source-code sass">
    @import blueprint/ie
    +blueprint-ie
    </pre>

    Or if you prefer to use blueprint on only some pages you can
    nest these styles. E.g.

    <pre class="source-code sass">
    @import blueprint/ie
    body.blueprint
      +blueprint-ie(true)
    </pre>

    The stylesheet should then be linked like so:

    <pre class="source-code html">&lt;!--[if lt IE 8]&gt;&lt;link rel="stylesheet" href="/stylesheets/ie.css"
       type="text/css" media="screen, projection"&gt;&lt;![endif]--&gt;
    </pre>
