--- 
title: Blueprint Interaction
crumb: Interaction
framework: blueprint
stylesheet: blueprint/_interaction.scss
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
