--- 
title: Blueprint Interaction
crumb: Interaction
framework: blueprint
stylesheet: blueprint/_interaction.scss
layout: blueprint
classnames:
  - reference
  - blueprint
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
