--- 
title: Blueprint Interaction
crumb: Interaction
framework: blueprint
stylesheet: blueprint/_interaction.scss
layout: blueprint
classnames:
  - reference
  - blueprint
---
- render 'reference' do
  %p
    Some classes that are used in common website interactions.
