--- 
title: Blueprint Link Icons
crumb: Link Icons
framework: blueprint
stylesheet: blueprint/_link-icons.scss
layout: blueprint
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
