--- 
title: Blueprint Link_icons
crumb: Link_icons
framework: blueprint
stylesheet: blueprint/_link_icons.sass
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
