--- 
title: Blueprint Link Icons
crumb: Link Icons
framework: blueprint
stylesheet: blueprint/_link-icons.scss
layout: blueprint
classnames:
  - reference
  - blueprint
---
- render 'reference' do
  :markdown
    Install this plugin to get the assets and an example stylesheet:
    
        compass install blueprint/link_icons

