--- 
title: Blueprint Liquid
crumb: Liquid
framework: blueprint
stylesheet: blueprint/_liquid.scss
layout: blueprint
classnames:
  - reference
  - blueprint
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
