--- 
title: Blueprint Liquid
crumb: Liquid
framework: blueprint
stylesheet: blueprint/_liquid.scss
layout: blueprint
classnames:
  - reference
  - blueprint
---
- render 'reference' do
  :markdown
    Import this to have a liquid grid.
    
    The original liquid grid documentation is
    [here](http://groups.google.com/group/blueprintcss/msg/d7171a8bef20b9a2).
    
    By default the container takes 80% of the canvas, you can override this:
    <pre class="source-code scss">
    .container {
      width: 99%
    }
    </pre>
