--- 
title: Blueprint Print
crumb: Print
framework: blueprint
stylesheet: blueprint/_print.scss
layout: blueprint
classnames:
  - reference
  - blueprint
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
