--- 
title: Blueprint Print
crumb: Print
framework: blueprint
stylesheet: blueprint/_print.scss
layout: blueprint
classnames:
  - reference
  - blueprint
---
- render 'reference' do
  :markdown
    The print stylesheet does sensible things for the printed page.
    
    It's important to note that the grid layout is not applied to the printed page.
    
    You probably want to set non-content sections like headers, footers, asides, and navs
    to `display: none;` in your printed page.
    
    See the [compass print utilities][pr_utils] for related functionality.
    [pr_utils]: /reference/compass/utilities/print/
