--- 
title: Blueprint Reset
crumb: Reset
framework: blueprint
stylesheet: blueprint/_reset.scss
sidebar: true
layout: blueprint
classnames:
  - reference
  - blueprint
---
- render 'reference' do
  %p
    A reset and base styling automatically applied to your webpage
    by importing this module.
