--- 
title: Blueprint Rtl
crumb: Rtl
framework: blueprint
stylesheet: blueprint/_rtl.scss
layout: blueprint
classnames:
  - reference
  - blueprint
---
- render 'reference' do
  %p
    For grids with use in right-to-left languages.
