--- 
title: Blueprint Scaffolding
crumb: Scaffolding
framework: blueprint
stylesheet: blueprint/_scaffolding.scss
layout: blueprint
classnames:
  - reference
  - blueprint
---
- render 'reference' do
  %p
    Training wheels... So that your site doesn't look too bad
    when you're starting out.
