--- 
title: Blueprint Scaffolding
crumb: Scaffolding
framework: blueprint
stylesheet: blueprint/_scaffolding.scss
layout: blueprint
classnames:
  - reference
  - blueprint
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
