--- 
title: Blueprint Scaffolding
crumb: Scaffolding
framework: blueprint
stylesheet: blueprint/_scaffolding.scss
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
