--- 
title: Blueprint Typography
crumb: Typography
framework: blueprint
stylesheet: blueprint/_typography.scss
layout: blueprint
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
