--- 
title: Blueprint Typography
crumb: Typography
framework: blueprint
stylesheet: blueprint/_typography.scss
layout: blueprint
classnames:
  - reference
  - blueprint
---
- render 'reference' do
  %p
    A base typography for your website that follows a typographic rhythm.
