--- 
title: Blueprint Utilities
crumb: Utilities
framework: blueprint
stylesheet: blueprint/_utilities.scss
layout: blueprint
classnames:
  - reference
  - blueprint
---
- render 'reference' do
  %p
    Some utility classes.
