--- 
title: Blueprint Utilities
crumb: Utilities
framework: blueprint
stylesheet: blueprint/_utilities.scss
layout: blueprint
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
