---
title: Get involved with the Compass community
crumb: Get Involved
classnames:
  - get-involved
layout: default
---

%h1 Get Involved With Compass

:markdown

  Many [wonderful people](https://github.com/chriseppstein/compass/contributors) have helped to make Compass awesome.
  Here are some ways you can get involved with the Compass community.

  ## Share Sweet Stylesheets

  So you've written some smashing Sass and you want to share them with others. Here are some ways you can.

  1. [**Contribute to Compass**](/help/tutorials/contributing).
  2. [**Develop a Compass Extension**](/help/tutorials/extensions).
  3. [**Contribute to Sass Recipes**](http://chriseppstein.github.com/sass-recipes/).
  4. Publish your code somewhere and email a link to the [mailing list](http://groups.google.com/group/compass-users).

  ## Help Others

  Join the [mailing list](http://groups.google.com/group/compass-users) and help answer questions and share from your experience. If you're
  writing a blog post about Sass or Compass send a link to the mailing list and we'll help you spread the word.

  ## Give Financially

  Compass is charityware. You can use it as much as you like, but we encourage you to make a donation to help the [UMDF](http://umdf.org/)
  find a cure for mitochondrial disease. If you can, please [donate here](http://umdf.org/compass/). Thanks!
