--- 
title: Compass General Utilities
crumb: General
framework: compass
stylesheet: compass/utilities/_general.scss
sidebar: true
layout: core
meta_description: Generally useful utilities that don't fit elsewhere.
classnames:
  - reference
  - core
  - utilities
---
- render 'reference' do
  %p
    Generally useful utilities.
