--- 
title: Compass Print
crumb: Print
framework: compass
stylesheet: compass/utilities/_print.scss
layout: core
meta_description: Control what elements gets printed.
classnames:
  - reference
  - core
  - utilities
---
- render 'reference' do
  :markdown
    Control what gets printed. Apply the `no-print` (or `noprint`) class to any
    elements that should be hidden when printing. Apply the `print-only` class
    to those elements which should only appear in your printed pages.
    
    The tricky part about `print-only` is getting the display right when you turn
    an element back on in the case where both styles are applied. This mixin
    uses the `elements-of-type` function to make sure that elements have the correct
    display value according to the element type.

