--- 
title: Compass Sprites
crumb: Sprites
framework: compass
stylesheet: compass/utilities/_sprites.scss
sidebar: true
layout: core
meta_description: Sprite mixins.
classnames:
  - reference
  - core
  - utilities
---
- render 'reference' do
  %h3 Additional Resources
  %ul
    %li
      %a(href="/help/tutorials/spriting/") Spriting Tutorial
    %li
      %a(href="/reference/compass/helpers/sprites/") Sprite Helpers
    %li
      %a(href="/reference/compass/utilities/sprites/base/") Base Stylesheet
    