--- 
title: Compass Hover Link
crumb: Hover Link
framework: compass
stylesheet: compass/utilities/links/_hover_link.sass
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
