--- 
title: Compass Hover_link
crumb: Hover_link
framework: compass
stylesheet: compass/utilities/links/_hover_link.sass
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
