--- 
title: Compass Link Colors
crumb: Link Colors
framework: compass
stylesheet: compass/utilities/links/_link-colors.scss
layout: core
meta_description: Easy assignment of colors to link states.
nav_stylesheet: compass/_utilities.scss
classnames:
  - reference
  - core
  - utilities
---
= render 'reference'
