--- 
title: Compass Link Colors
crumb: Link Colors
framework: compass
stylesheet: compass/utilities/links/_link-colors.scss
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
