--- 
title: Compass Unstyled_link
crumb: Unstyled_link
framework: compass
stylesheet: compass/utilities/links/_unstyled_link.sass
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
