.simple {
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px; }

.compound {
  -webkit-border-radius: 2px 3px;
  -moz-border-radius: 2px 5px / 3px 6px;
  -o-border-radius: 2px 5px / 3px 6px;
  -ms-border-radius: 2px 5px / 3px 6px;
  -khtml-border-radius: 2px 5px / 3px 6px;
  border-radius: 2px 5px / 3px 6px; }

.crazy {
  -webkit-border-radius: 1px 2px;
  -moz-border-radius: 1px 3px 5px 7px / 2px 4px 6px 8px;
  -o-border-radius: 1px 3px 5px 7px / 2px 4px 6px 8px;
  -ms-border-radius: 1px 3px 5px 7px / 2px 4px 6px 8px;
  -khtml-border-radius: 1px 3px 5px 7px / 2px 4px 6px 8px;
  border-radius: 1px 3px 5px 7px / 2px 4px 6px 8px; }
