ul.horizontal {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1; }
  ul.horizontal li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 4px;
    padding-right: 4px; }
    ul.horizontal li:first-child, ul.horizontal li.first {
      padding-left: 0px; }
    ul.horizontal li:last-child, ul.horizontal li.last {
      padding-right: 0px; }

ul.wide-horizontal {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1; }
  ul.wide-horizontal li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 10px;
    padding-right: 10px; }
    ul.wide-horizontal li:first-child, ul.wide-horizontal li.first {
      padding-left: 0px; }
    ul.wide-horizontal li:last-child, ul.wide-horizontal li.last {
      padding-right: 0px; }

ul.right-horizontal {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1; }
  ul.right-horizontal li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px;
    white-space: nowrap;
    display: inline;
    float: right;
    padding-left: 4px;
    padding-right: 4px; }
    ul.right-horizontal li:first-child, ul.right-horizontal li.first {
      padding-right: 0px; }
    ul.right-horizontal li:last-child, ul.right-horizontal li.last {
      padding-left: 0px; }

ul.inline-block {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1; }
  ul.inline-block li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    *vertical-align: auto;
    white-space: nowrap; }

ul.wide-inline-block {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1; }
  ul.wide-inline-block li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    *vertical-align: auto;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px; }

ul.inline {
  list-style-type: none; }
  ul.inline, ul.inline li {
    margin: 0px;
    padding: 0px;
    display: inline; }

ul.comma {
  list-style-type: none; }
  ul.comma, ul.comma li {
    margin: 0px;
    padding: 0px;
    display: inline; }
  ul.comma li:after {
    content: ", "; }
  ul.comma li:last-child:after, ul.comma li.last:after {
    content: ""; }

ul.no-bullets {
  list-style: none; }
  ul.no-bullets li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px; }

ul.pretty {
  margin-left: 0; }
  ul.pretty li {
    padding-left: 14px;
    background: url('/images/4x6.png?busted=true') no-repeat 4px 7px;
    list-style-type: none; }
