.single-transition-without-delay {
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out; }

.single-transition-with-delay {
  -webkit-transition: all 0.6s ease-out 0.2s;
  transition: all 0.6s ease-out 0.2s; }

.transition-duration-list {
  -webkit-transition-duration: 0.2s, 0.5s, 0.2s;
  transition-duration: 0.2s, 0.5s, 0.2s; }

.multiple-transition-durations {
  -webkit-transition-duration: 0.2s, 0.5s, 0.2s;
  transition-duration: 0.2s, 0.5s, 0.2s; }

.single-transform-transition-without-delay {
  -webkit-transition: -webkit-transform 0.6s ease-out;
  transition: -ms-transform 0.6s ease-out;
  transition: transform 0.6s ease-out; }

.single-transform-transition-with-delay {
  -webkit-transition: -webkit-transform 0.6s ease-out 0.2s;
  transition: -ms-transform 0.6s ease-out 0.2s;
  transition: transform 0.6s ease-out 0.2s; }

.transform-transition {
  -webkit-transition: -webkit-transform 0.6s ease-out;
  transition: -ms-transform 0.6s ease-out;
  transition: transform 0.6s ease-out; }

.multiple-transitions {
  -webkit-transition: -webkit-transform 0.6s ease-out, opacity 0.2s ease-in;
  transition: -ms-transform 0.6s ease-out, opacity 0.2s ease-in;
  transition: transform 0.6s ease-out, opacity 0.2s ease-in; }

.transition-property {
  -webkit-transition-property: -webkit-transform;
  transition-property: -ms-transform;
  transition-property: transform; }

.transition-properties {
  -webkit-transition-property: -webkit-transform, opacity, width, height, left, top;
  transition-property: -ms-transform, opacity, width, height, left, top;
  transition-property: transform, opacity, width, height, left, top; }

.multiple-transition-properties {
  -webkit-transition-property: opacity, -webkit-transform, left;
  transition-property: opacity, -ms-transform, left;
  transition-property: opacity, transform, left; }

.default-transition {
  -webkit-transition: all 1s false false;
  transition: all 1s false false; }

.transition-timing {
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }

.transition-timings {
  -webkit-transition-timing-function: ease-in, cubic-bezier(1, 0, 1, 0);
  transition-timing-function: ease-in, cubic-bezier(1, 0, 1, 0); }

.transition-timings-list {
  -webkit-transition-timing-function: ease-in, cubic-bezier(1, 0, 1, 0);
  transition-timing-function: ease-in, cubic-bezier(1, 0, 1, 0); }

.transition-delay {
  -webkit-transition-delay: 1s;
  transition-delay: 1s; }

.transition-delays {
  -webkit-transition-delay: 1s, 2s, 3s;
  transition-delay: 1s, 2s, 3s; }

.transition-delays-list {
  -webkit-transition-delay: 1s, 2s, 3s;
  transition-delay: 1s, 2s, 3s; }

.regression-912 {
  -webkit-transition: background-color 0.5s ease-in 0s, width 0.5s ease-out 0s, height 0.5s ease-in 0s, top 0.5s ease-out 0s;
  transition: background-color 0.5s ease-in 0s, width 0.5s ease-out 0s, height 0.5s ease-in 0s, top 0.5s ease-out 0s; }
