.single-transition-without-delay {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out; }

.single-transition-with-delay {
  -webkit-transition: all 0.6s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition: all 0.6s ease-out 0.2s;
  -o-transition: all 0.6s ease-out 0.2s;
  transition: all 0.6s ease-out 0.2s; }

.transition-duration-string {
  -webkit-transition-duration: 0.2s, 0.5s, 0.2s;
  -moz-transition-duration: 0.2s, 0.5s, 0.2s;
  -o-transition-duration: 0.2s, 0.5s, 0.2s;
  transition-duration: 0.2s, 0.5s, 0.2s; }

.transition-duration-list {
  -webkit-transition-duration: 0.2s, 0.5s, 0.2s;
  -moz-transition-duration: 0.2s, 0.5s, 0.2s;
  -o-transition-duration: 0.2s, 0.5s, 0.2s;
  transition-duration: 0.2s, 0.5s, 0.2s; }

.multiple-transition-durations {
  -webkit-transition-duration: 0.2s, 0.5s, 0.2s;
  -moz-transition-duration: 0.2s, 0.5s, 0.2s;
  -o-transition-duration: 0.2s, 0.5s, 0.2s;
  transition-duration: 0.2s, 0.5s, 0.2s; }

.single-transform-transition-without-delay {
  -webkit-transition: -webkit-transform 0.6s ease-out;
  -moz-transition: -moz-transform 0.6s ease-out;
  -o-transition: -o-transform 0.6s ease-out;
  transition: transform 0.6s ease-out; }

.single-transform-transition-with-delay {
  -webkit-transition: -webkit-transform 0.6s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition: -moz-transform 0.6s ease-out 0.2s;
  -o-transition: -o-transform 0.6s ease-out 0.2s;
  transition: transform 0.6s ease-out 0.2s; }

.transform-transition {
  -webkit-transition: -webkit-transform 0.6s ease-out;
  -moz-transition: -moz-transform 0.6s ease-out;
  -o-transition: -o-transform 0.6s ease-out;
  transition: transform 0.6s ease-out; }

.multiple-transitions {
  -webkit-transition: -webkit-transform 0.6s ease-out, opacity 0.2s ease-in;
  -moz-transition: -moz-transform 0.6s ease-out, opacity 0.2s ease-in;
  -o-transition: -o-transform 0.6s ease-out, opacity 0.2s ease-in;
  transition: transform 0.6s ease-out, opacity 0.2s ease-in; }

.transition-property {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform; }

.transition-properties {
  -webkit-transition-property: -webkit-transform, opacity, width, height, left, top;
  -moz-transition-property: -moz-transform, opacity, width, height, left, top;
  -o-transition-property: -o-transform, opacity, width, height, left, top;
  transition-property: transform, opacity, width, height, left, top; }

.multiple-transition-properties {
  -webkit-transition-property: opacity, -webkit-transform, left;
  -moz-transition-property: opacity, -moz-transform, left;
  -o-transition-property: opacity, -o-transform, left;
  transition-property: opacity, transform, left; }

.transition-timing {
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }

.transition-timings {
  -webkit-transition-timing-function: ease-in, cubic-bezier(1, 0, 1, 0);
  -moz-transition-timing-function: ease-in, cubic-bezier(1, 0, 1, 0);
  -o-transition-timing-function: ease-in, cubic-bezier(1, 0, 1, 0);
  transition-timing-function: ease-in, cubic-bezier(1, 0, 1, 0); }

.transition-timings-list {
  -webkit-transition-timing-function: ease-in, cubic-bezier(1, 0, 1, 0);
  -moz-transition-timing-function: ease-in, cubic-bezier(1, 0, 1, 0);
  -o-transition-timing-function: ease-in, cubic-bezier(1, 0, 1, 0);
  transition-timing-function: ease-in, cubic-bezier(1, 0, 1, 0); }

.transition-timings-string {
  -webkit-transition-timing-function: ease-in, cubic-bezier(1,0,1,0);
  -moz-transition-timing-function: ease-in, cubic-bezier(1,0,1,0);
  -o-transition-timing-function: ease-in, cubic-bezier(1,0,1,0);
  transition-timing-function: ease-in, cubic-bezier(1,0,1,0); }

.transition-delay {
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s; }

.transition-delays {
  -webkit-transition-delay: 1s, 2s, 3s;
  -moz-transition-delay: 1s, 2s, 3s;
  -o-transition-delay: 1s, 2s, 3s;
  transition-delay: 1s, 2s, 3s; }

.transition-delays-list {
  -webkit-transition-delay: 1s, 2s, 3s;
  -moz-transition-delay: 1s, 2s, 3s;
  -o-transition-delay: 1s, 2s, 3s;
  transition-delay: 1s, 2s, 3s; }

.transition-delays-string {
  -webkit-transition-delay: 1s, 2s, 3s;
  -moz-transition-delay: 1s, 2s, 3s;
  -o-transition-delay: 1s, 2s, 3s;
  transition-delay: 1s, 2s, 3s; }

.regression-912 {
  -webkit-transition: background-color 0.5s ease-in, width 0.5s ease-out, height 0.5s ease-in, top 0.5s ease-out;
  -webkit-transition-delay: 0s, 0s, 0s, 0s;
  -moz-transition: background-color 0.5s ease-in 0s, width 0.5s ease-out 0s, height 0.5s ease-in 0s, top 0.5s ease-out 0s;
  -o-transition: background-color 0.5s ease-in 0s, width 0.5s ease-out 0s, height 0.5s ease-in 0s, top 0.5s ease-out 0s;
  transition: background-color 0.5s ease-in 0s, width 0.5s ease-out 0s, height 0.5s ease-in 0s, top 0.5s ease-out 0s; }
