html {
  font-size: 87.5%;
  line-height: 1.14286em; }

.small {
  font-size: 0.85714em;
  line-height: 1.33333em; }

.padded {
  margin-top: 1.14286em;
  padding-top: 1.14286em;
  padding-bottom: 1.14286em;
  margin-bottom: 1.14286em; }

.small-padded {
  font-size: 0.85714em;
  line-height: 1.33333em;
  margin-top: 1.33333em;
  padding-top: 1.33333em;
  padding-bottom: 1.33333em;
  margin-bottom: 1.33333em; }

.borders {
  border-top-width: 0.07143em;
  border-top-style: solid;
  padding-top: 1.07143em;
  border-bottom-width: 0.07143em;
  border-bottom-style: solid;
  padding-bottom: 1.07143em; }

.large-borders {
  font-size: 1.71429em;
  line-height: 2em;
  border-top-width: 0.25em;
  border-top-style: solid;
  padding-top: 0.41667em;
  border-bottom-width: 0.25em;
  border-bottom-style: solid;
  padding-bottom: 0.41667em; }

.reset {
  line-height: 1.14286em; }

/* New test using em output */
html {
  font-size: 112.5%;
  line-height: 1.4em; }

.container {
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  -webkit-background-size: 100% 1.4em;
  -moz-background-size: 100% 1.4em;
  -o-background-size: 100% 1.4em;
  background-size: 100% 1.4em;
  background-position: left top; }

p {
  margin-top: 1.4em;
  margin-bottom: 1.4em; }

th,
td {
  padding-top: 0.35em;
  padding-bottom: 0.35em; }

.caption {
  font-size: 0.72222em;
  line-height: 1.55077em; }

.spaced-out {
  line-height: 2.1em; }

blockquote {
  margin-top: 1.4em;
  margin-bottom: 1.4em;
  padding: 0 1.4em; }

.fig-quote > blockquote {
  margin-bottom: 0.7em; }
.fig-quote .source {
  font-size: 0.72222em;
  line-height: 1.93846em;
  margin-bottom: 0.96923em; }

.panel {
  font-size: 0.88889em;
  line-height: 1.575em;
  border-width: 0.0625em;
  border-style: solid;
  border-color: #aaaaaa;
  padding: 1.5125em; }

/* New using rem output with pixel fallbacks */
html {
  font-size: 112.5%;
  line-height: 1.4em; }

.container {
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  -webkit-background-size: 100% 1.4rem;
  -moz-background-size: 100% 1.4rem;
  -o-background-size: 100% 1.4rem;
  background-size: 100% 1.4rem;
  background-position: left top; }

p {
  margin-top: 25px;
  margin-top: 1.4rem;
  margin-bottom: 25px;
  margin-bottom: 1.4rem; }

th,
td {
  padding-top: 6px;
  padding-top: 0.35rem;
  padding-bottom: 6px;
  padding-bottom: 0.35rem; }

/* Incremental leading made easy! */
.caption {
  font-size: 15px;
  font-size: 0.85rem;
  line-height: 20px;
  line-height: 1.12rem; }

.spaced-out {
  line-height: 38px;
  line-height: 2.1rem; }

blockquote {
  margin-top: 25px;
  margin-top: 1.4rem;
  margin-bottom: 25px;
  margin-bottom: 1.4rem;
  padding: 0 1.4rem; }

.fig-quote > blockquote {
  margin-bottom: 13px;
  margin-bottom: 0.7rem; }
.fig-quote .source {
  font-size: 15px;
  font-size: 0.85rem;
  line-height: 25px;
  line-height: 1.4rem;
  margin-bottom: 13px;
  margin-bottom: 0.7rem; }

.panel {
  border-width: 1px;
  border-width: 0.05556rem;
  border-style: solid;
  border-color: #aaaaaa;
  padding: 24px;
  padding: 1.34444rem; }

/* New using px output */
* html {
  font-size: 112.5%; }

html {
  font-size: 18px;
  line-height: 25px; }

.container {
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  -webkit-background-size: 100% 25px;
  -moz-background-size: 100% 25px;
  -o-background-size: 100% 25px;
  background-size: 100% 25px;
  background-position: left top; }

p {
  margin-top: 25px;
  margin-bottom: 25px; }

th,
td {
  padding-top: 6px;
  padding-bottom: 6px; }

/* Incremental leading made easy! */
.caption {
  font-size: 15px;
  line-height: 20px; }

.spaced-out {
  line-height: 37px; }

blockquote {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0 25px; }

.fig-quote > blockquote {
  margin-bottom: 12px; }
.fig-quote .source {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 12px; }

.panel {
  border-width: 1px;
  border-style: solid;
  border-color: #aaaaaa;
  padding: 24px; }
