--- 
title: Compass Sprite Base
crumb: Sprite Base
framework: compass
stylesheet: compass/utilities/sprites/_base.scss
layout: core
classnames:
  - reference
  - core
  - utilities
---
- render 'reference' do
  :markdown
    These mixins are useful for working with sprites. This file is imported by
    magic sprite imports.
    
    See the [Spriting Tutorial](/help/tutorials/spriting/) for more information.
