.links
  %ul
    %li
      <a rel="license" href="/copyright/" id="cc-logo"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/us/88x31.png" /></a>
      %span by Christopher M. Eppstein.
    %li
      Compass is Charityware - 
      %a(href="http://umdf.org/compass") Donate Now!

- if @item[:content_for_footer]
  %hr
  = @item[:content_for_footer]