.legalese
  %p
    :plain
      <a rel="license" href="/docs/copyright/"
         id="cc-logo"><img alt="Creative Commons License" style="border-width:0"
         src="http://i.creativecommons.org/l/by-nc-sa/3.0/us/88x31.png" /></a>
    %br
    by Christopher M. Eppstein.
  - if @item[:content_for_footer]
    %hr
    = @item[:content_for_footer]
.links
  %ul
    %li
      %a(href="http://compass-style.org/" rel="home") Compass Homepage
    %li
      Compass is Charityware - 
      %a(href="http://umdf.org/compass") Donate Now!
    %li
      Compass is Open Source -
      %a(href="http://github.com/chriseppstein/compass") Contribute
    