%header#banner{:role => "banner"}
  %form#search-docs{:action => "/search/", :method => "GET"}
    %input#search{:name => "q", :type => "text", :value => "", :placeholder => "Search the docs"}

  %nav#main-nav{:role => "navigation"}
    %ul
      %li.vcard
        %a.fn.org.url.uid{:href => "/", :rel => "home"} Home
      %li
        %a{:href => "/reference/compass/", :rel => "documentation"} Reference
      %li
        %a{:href => "/help/", :rel=> "help"} Help
      %li
        %a{:href => "/blog/", :rel=> "blog"} Blog
      %li
        %a{:href => "/get-involved/", :rel=> "get-involved"} Get Involved
      %li
        %a{:href => "/install/", :rel=> "install"} Install
