%h2
  %a(href="/docs/") Compass Documentation

%h3
  Tutorials

= item_tree(find("/tutorials/"), true)

%h3
  Frameworks

%ul
  = item_tree(reference_item(:stylesheet => "_compass.scss"))
  = item_tree(reference_item(:stylesheet => "_blueprint.scss"))

%h3
  Misc
%ul
  %li
    %a{:href => "/docs/frameworks/"}
      Working with plugins and frameworks
