.example
  #layout
    #header
      %h1 Sticky Footer Example

    %p
      This is the main content area.
    %p
      In this example you should pretend that the red box
      is actually the browser window.
    %p
      Because, being a contrived example, it's not actually sticking
      to the bottom of the page.
    #layout_footer
  #footer
    This is the footer area.
