--- 
title: Blueprint Pull Example
description: Uses pull to change the display order of columns.
framework: blueprint
stylesheet: blueprint/_grid.scss
mixin: pull
example: true
---
= render "partials/example"
