--- 
title: Compass Reset Utilities
crumb: Reset Utilities
framework: compass
stylesheet: compass/reset/_utilities.scss
layout: core
meta_description: Mixins for resetting elements.
classnames:
  - reference
  - core
  - utilities
---
- render 'reference' do
  :markdown
    These utilities are used to reset your document. The easiest way to use them
    is to simply `@import "compass/reset"` which will import this module and apply
    the appropriate mixins for you.
