--- 
title: Compass Reset Utilities (legacy)
crumb: Reset Utilities (legacy)
framework: compass
stylesheet: compass/reset/_utilities-legacy.scss
layout: core
deprecated: true
meta_description: Mixins for resetting elements.
classnames:
  - reference
  - core
  - utilities
---
- render 'reference' do
  %p.warning
    This import is deprecated. Please import
    <a href="/reference/compass/reset/utilities/" class="better">reset utilities</a> instead.

  :markdown
    These utilities are used to reset your document. The easiest way to use them
    is to simply `@import "compass/reset"` which will import this module and apply
    the appropriate mixins for you.
