---
title: Compass Examples
crumb: Examples
classnames:
  - examples
layout: site
---
%article
  %h1 Browse Code Examples

%ul
  - for example in example_items.sort_by {|e| e[:title] }
    %li
      %a{:href => example.identifier}= example[:title]
