*.DS_Store
tmp/*
examples/*/stylesheets/*
examples/*/*.html
examples/*/*/*.html
examples/*/extensions/*
examples/*/src/.sass-cache
.sass-cache
test/tmp
test/fixtures/stylesheets/*/tmp
test/fixtures/stylesheets/*/saved
test/fixtures/stylesheets/empty
test/fixtures/stylesheets/*/sass/.sass-cache
pkg/*
coverage*
docs
doc-src/tmp
