*.DS_Store
*.tmproj
*.lock
sync
tmp/*
devbin
examples/*/stylesheets/*
examples/*/*.html
examples/*/*/*.html
examples/*/extensions/*
examples/*/src/.sass-cache
.sass-cache
test/tmp
test/fixtures/stylesheets/*/tmp
test/fixtures/stylesheets/*/saved
test/fixtures/stylesheets/empty
test/fixtures/stylesheets/*/sass/.sass-cache
pkg/*
compass-*.gem
coverage*
docs
doc-src/tmp
doc-src/.bundle
.bundle
attic
devbin
.rvmrc
*.rbc
vendor/ruby
vendor
Gemfile.lock
*.pkg
