!!! Transition
/ Feel free to delete this, it's just here to act as an example
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %title Welcome to Compass &amp; Blueprint
    %link(rel="stylesheet" href="stylesheets/screen.css" type="text/css" media="screen, projection")
    %link(href="stylesheets/print.css" media="print" rel="stylesheet" type="text/css")
    /[if lt IE 8]
      %link(href="stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css")    
  %body#welcome.bp
    #container
      %h1 Welcome to Compass!