- render 'main' do
  %aside(role="sidebar")
    %nav#local-nav
      %ul=item_tree(reference_item(:stylesheet => "_blueprint.scss"), :depth => 2, :omit_self => false, :heading_level => 2)
  %article= yield