!!! Strict
%html
  %head
    %title
      #{@item[:title]} - Compass
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %link{ :href => "/docs/stylesheets/example.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %style{:type => "text/css"}= example_css
  %body{body_attributes(@item)}
    #container
      #main
        = yield
