!!! Strict
%html
  %head
    %title
      #{@item[:title]} - Compass
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    - if @item[:meta_description]
      %meta{:name => "description", :content => @item[:meta_description]}
    %link(rel="shortcut icon" type="image/png" href="/images/compass_icon.png")
    %link{ :href => "/stylesheets/legacy/main.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %script{:src => "/javascripts/jquery-1.3.2.min.js", :type => "text/javascript"}
  %body{body_attributes(@item)}
    = yield
    %script(src="/javascripts/fixups.js" deferred)
    = render "partials/analytics"
