- render "blog" do
  %h1= @item[:title]
  - author = author(@item[:author])
  %h2
    By
    - if author["byline_link"]
      %a{:href=>author["byline_link"]}= author["fullname"]
    - else
      = author["fullname"]
  = yield
  -#comments= render "partials/disqus_comments"