---
title: Compass Home
crumb: Home
body_id: home
layout: homepage
---
%h1#logo Compass
%h2 <strong>Compass</strong> is an open-source <em>CSS Authoring Framework</em>.
.overview
  .compass
    %h4 Why designers love Compass.
    %ol
      %li Experience cleaner markup without presentational classes.
      %li It’s chock full of the web’s best reusable patterns.
      %li Developing a personal framework is simple. 
      %li Compass mixins make CSS3 easy.
      %li Download and create extensions with ease.
  .sass
    %h4 Compass uses Sass.
    %p
      <a href="http://sass-lang.com/">Sass</a> is an extension of CSS3 which
      adds nested rules, variables, mixins, selector inheritance, and more.
      Sass generates well formatted CSS and makes your stylesheets
      easier to organize and maintain.
%h3 Brilliant people use Compass, including these <em>wildly talented</em> folks:
%ul#featured_sites
  %li
    %a(href="http://addons.heroku.com/")
      %img(src="/images/sites/addons.heroku.jpg")
      %span.title Heroku Addons
      %span.url http://addons.heroku.com
  %li
    %a(href="http://sencha.com/products/touch/")
      %img(src="/images/sites/sencha.jpg")
      %span.title Sencha Touch
      %span.url http://sencha.com/products/touch
  %li
    %a(href="http://caring.com/")
      %img(src="/images/sites/caring.jpg")
      %span.title Caring.com
      %span.url http://caring.com
  %li
    %a(href="http://hubblesite.org/")
      %img(src="/images/sites/hubblesite.jpg")
      %span.title HubbleSite
      %span.url http://hubblesite.org
  %li
    %a(href="http://dailymile.com/")
      %img(src="/images/sites/dailymile.jpg")
      %span.title DailyMile
      %span.url http://dailymile.com
  %li
    %a(href="http://cofamilies.com/")
      %img(src="/images/sites/cofamilies.jpg")
      %span.title Cofamilies
      %span.url http://cofamilies.com
  %li
    %a(href="http://jumpstartlab.com")
      %img(src="/images/sites/jumpstartlab.jpg")
      %span.title Jumpstart Lab
      %span.url http://jumpstartlab.com
  %li
    %a(href="http://green.cals.cornell.edu/")
      %img(src="/images/sites/cornell.jpg")
      %span.title Cornell University - CALS
      %span.url http://green.cals.cornell.edu
  %li
    %a(href="http://busyconf.com/")
      %img(src="/images/sites/busyconf.jpg")
      %span.title BusyConf
      %span.url http://busyconf.com
