---
title: Compass Documentation
crumb: Docs
body_id: home
---
%h1 Compass

%p
  Compass is a stylesheet authoring tool that uses the Sass stylesheet
  language to make your stylesheets smaller and your web site easier to
  maintain. Compass provides ports of the best of breed css frameworks
  that you can use without forcing you to use their presentational class
  names. It’s a new way of thinking about stylesheets that must be seen
  in action!

%h2 Screencast Tutorial

%p
  This screencast will walk you through getting set up,
  learning Sass, and then how to use Compass to style a webpage.

<object width="660" height="371"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=4335944&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=4335944&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="660" height="371"></embed></object>

%h2 Bugs Reports, Discussions, Support

:markdown
  Send a note to the [mailing list](http://groups.google.com/group/compass-users)
  and/or [File a bug](http://github.com/chriseppstein/compass/issues).