--- 
title: Compass Sprite Image
crumb: Sprite Image
framework: compass
stylesheet: compass/utilities/sprites/_sprite-img.scss
layout: core
nav_stylesheet: compass/_utilities.scss
classnames:
  - reference
  - core
  - utilities
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
