--- 
title: Compass Sprite Image
crumb: Sprite Image
framework: compass
stylesheet: compass/utilities/sprites/_sprite-img.scss
layout: core
classnames:
  - reference
  - core
  - utilities
---
- render 'reference' do
  :markdown
    **Example 1** Simple mixins:
    
        a.twitter
          +sprite-img("icons-32.png", 1)
        a.facebook
          +sprite-img("icons-32.png", 2)
    
    **Example 2** Sharing a common base:
    
        a
          +sprite-background("icons-32.png")
          &.twitter
            +sprite-column(1)
          &.facebook
            +sprite-row(2)
  