--- 
title: Compass Background Origin
crumb: Background Origin
framework: compass
stylesheet: compass/css3/_background-origin.scss
meta_description: Specify the background origin for all browsers.
layout: core
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  %p
    Provides a mixin for the background origin property. See <a href="http://www.w3.org/TR/css3-background/#the-background-origin">CSS3 spec: background-origin property</a>.
