--- 
title: Compass Filter
crumb: Filter
framework: compass
stylesheet: compass/css3/_filter.scss
meta_description: Specify the (image) filter for all browsers.
layout: core
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  %p
    The filter mixin is used to apply filters to images.
