--- 
title: Compass Text Selection
crumb: Selection
framework: compass
stylesheet: compass/css3/_selection.scss
meta_description: Style text selection foreground and background color with CSS using the Compass selection mixin.
layout: core
classnames:
  - reference
---
- render 'reference' do
  %p
    Styles text selection foreground and background color with CSS.

