--- 
title: Shared CSS3 Utilities
crumb: Shared Utilities
framework: compass
stylesheet: compass/css3/_shared.scss
layout: core
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  %p
    This module provides support to the other CSS3 modules.
    You may want to use it to provide your own support for other
    CSS3 proposals as they are being worked on and before support
    is added to compass.
