--- 
title: Compass Text Shadow
crumb: Text Shadow
framework: compass
stylesheet: compass/css3/_text-shadow.scss
meta_description: Specify the text shadow for all browsers.
layout: core
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  %p
    Provides a mixin for CSS text shadows. See <a href="http://www.w3.org/TR/2003/CR-css3-text-20030514/#text-shadows">CSS3 spec: text-shadow</a>.
