--- 
title: Compass Transform
crumb: Transform
framework: compass
stylesheet: compass/css3/_transform.scss
meta_description: Specify transformations for many browsers.
layout: core
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  %p
    Provides mixins for CSS3 2D and 3D transforms. See
    <a href="http://www.w3.org/TR/css3-2d-transforms/">W3C: CSS 2D transforms</a>
    and See <a href="http://www.w3.org/TR/css3-3d-transforms/">W3C: CSS 3D transforms</a>.
  %p
    Safari is the only browser that currently supports 3D transforms.
    Because of that it can be important to control whether a given 2D transform
    uses the full range of experimental browser prefixes, or only the 3D list.
    To make that easy, all 2D transforms include an browser-targeting toggle ($only3d)
    to switch between the two support lists. The toggle defaults to 'false' (2D),
    and also accepts 'true' (3D). Currently the lists are as follows:
    2D: Mozilla, Webkit, Opera, Official
    3D: Webkit, Official **(Only Safari Supports 3D perspective)**
  
