--- 
title: Compass User Interface
crumb: User Interface
framework: compass
stylesheet: compass/css3/_user-interface.scss
meta_description: Declare an element inline block for all browsers.
layout: core
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  %p
    Provides mixins for the CSS3 User Interface module.
