- classes = [("selected" if @selected), ("deprecated" if @current_item[:deprecated])].compact.join(" ")
%li{:class => classes}
  %a{:href => default_path(@current_item), :class => classes}
    %span= @crumb
