--- 
title: Compass Color
crumb: Color
framework: compass
stylesheet: compass/utilities/_color.scss
layout: core
sidebar: true
meta_description: Utilities for working with colors.
classnames:
  - reference
  - core
  - utilities
---
- render 'reference' do
  %p
    Utilities for working with colors.
