--- 
title: Compass General Utilities
crumb: General
framework: compass
stylesheet: compass/utilities/_general.scss
layout: core
nav_stylesheet: compass/_utilities.scss
classnames:
  - reference
  - core
  - utilities
---
- render 'reference' do
  %p
    Generally useful utilities.
