--- 
title: Compass General
crumb: General
framework: compass
stylesheet: compass/utilities/_general.scss
layout: core
nav_stylesheet: compass/_utilities.scss
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
