--- 
title: Compass Sprites
crumb: Sprites
framework: compass
stylesheet: compass/utilities/_sprites.scss
layout: core
meta_description: Sprite mixins.
nav_stylesheet: compass/_utilities.scss
classnames:
  - reference
  - core
  - utilities
---
= render 'reference'
    