--- 
title: Compass Sprites
crumb: Sprites
framework: compass
stylesheet: compass/utilities/_sprites.scss
sidebar: true
layout: core
meta_description: Sprite mixins.
classnames:
  - reference
  - core
  - utilities
---
= render 'reference'
    