--- 
title: Compass Text
crumb: Text
framework: compass
stylesheet: compass/utilities/_text.scss
layout: core
nav_stylesheet: compass/_utilities.scss
classnames:
  - reference
  - core
  - utilities
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
