---
title: Compass Clearfix Example
description: A clearfix will extend the bottom of the element to enclose any floated elements it contains.
framework: compass
stylesheet: compass/utilities/general/_clearfix.scss
example: true
---
= render "partials/example"
