!!!
%html
  %head
    %link(href="stylesheets/gradients.css" rel="stylesheet" type="text/css")
  %body
    %table
      %thead
        %th &nbsp;
        %th.linear Linear
        %th.radial Radial
      %tbody
        %tr.default
          %th Default
          %td.linear <br><br><br>
          %td.radial <br><br><br>
        %tr.default
          %th
          %td.linear-code
          %td.radial-code
        %tr.top-left
          %th Top Left
          %td.linear <br><br><br>
          %td.radial <br><br><br>
        %tr.top-left
          %th
          %td.linear-code
          %td.radial-code
        %tr.bottom-right
          %th Bottom Right
          %td.linear <br><br><br>
          %td.radial <br><br><br>
        %tr.bottom-right
          %th
          %td.linear-code
          %td.radial-code
        %tr.three-color
          %th Three Evenly-spaced Colors
          %td.linear <br><br><br>
          %td.radial <br><br><br>
        %tr.three-color
          %th
          %td.linear-code
          %td.radial-code
        %tr.four-color
          %th Four Positioned Colors
          %td.linear <br><br><br>
          %td.radial <br><br><br>
        %tr.four-color
          %th
          %td.linear-code
          %td.radial-code
        %tr.filled-in
          %th Filled-in End-points
          %td.linear <br><br><br>
          %td.radial <br><br><br>
        %tr.filled-in
          %th
          %td.linear-code
          %td.radial-code
        %tr.with-bg
          %th With Background Image
          %td.linear <br><br><br>
          %td.radial <br><br><br>
        %tr.with-bg
          %th
          %td.linear-code
          %td.radial-code

