--- 
title: Compass CSS3
crumb: CSS3
framework: compass
stylesheet: compass/_css3.scss
sidebar: true
layout: core
classnames:
  - reference
  - core
  - css3
meta_description: Provides cross browser CSS3 mixins that take advantage of available pre-spec vendor prefixes. 
layout: core
---
- render 'reference' do
  %p
    The CSS3 module provides cross-browser mixins for CSS properties
    introduced in CSS3, for example
    <a href="/reference/compass/css3/border_radius/"><code>border-radius</code></a>
    and <a href="/reference/compass/css3/text-shadow/"><code>text-shadow</code></a>.
  %p
    What rendering engines you support for the experimental css properties is governed by
    the configurable variables defined in <a href="/reference/compass/support/">the browser
    support module</a>.