---
title: Compass Layout
crumb: Layout
framework: compass
sidebar: true
stylesheet: compass/_layout.scss
meta_description: Page layout module.
layout: core
classnames:
  - reference
  - core
  - layout
---
- render 'reference' do
  %p
    This module provides tools to help you with page layout.
