--- 
title: Compass Text
crumb: Text
framework: compass
stylesheet: compass/typography/_text.scss
layout: core
sidebar: true
meta_description: Style helpers for your text.
classnames:
  - reference
  - core
  - typography
---
- render 'reference' do
  %p
    Utilities for managing text.
