--- 
title: Vertical Rhythm
crumb: Vertical Rhythm
framework: compass
stylesheet: compass/typography/_vertical_rhythm.scss
layout: core
meta_description: Create and maintain a vertical rhythm for your type.
classnames:
  - reference
  - core
  - typography
---
- render 'reference' do
  :markdown
    Create a vertical rhythm for your site by setting the `$base-font-size` and 
    `$base-line-height` variables and then including the `establish-baseline` 
    mixin at the root of your document.
    
    Manage the vertical rhythm using the other vertical-rhythm mixins to adjust
    font and line-height values, extra vertical whitespace, borders, etc.
