---
title: Compass Core Framework
crumb: Compass Core
framework: compass
stylesheet: _compass.scss
classnames:
  - reference
  - core
meta_description: The Compass Core Framework.
layout: core
---
- render 'reference' do
  %p
    The compass core framework is a design-agnostic framework that
    provides common code that would otherwise be duplicated across
    other frameworks and extensions.

%h2 Non Imported Modules
%em You can import these yourself if you want to use them.
%ol
  %li= render "partials/reference/import", :import => "compass/_layout.scss"
  %li= render "partials/reference/import", :import => "compass/_reset.scss"

