--- 
title: Compass Color Contrast
crumb: Color Contrast
framework: compass
stylesheet: compass/utilities/color/_contrast.scss
layout: core
meta_description: Contrast foreground with background colors.
classnames:
  - reference
  - core
  - utilities
---
= render 'reference'
