nav a { @include hover-link; }

header { @extend .group;
  font-size: 1.25em; font-family: "Museo Sans"; border-width: 4px;}
#main-nav {
  width: 76%;
  display: inline-block;
  padding-bottom: 10px;
  ul {
    @include horizontal-list(10px);
    line-height: 2em; }
  a[rel=home] {
    @include replace-text-with-dimensions("compass-logo-small.png");
    display: inline-block; }}

#subnav {
  @extend .group;
  padding: 8px 0; }
  
#docs-nav, #module-nav {
  display: inline-block;
  float: left;
  a {
    padding: 2px 10px;
    display: inline-block; }}
    
#docs-nav {
  padding-right: 15px;
  a:last-child {
    @extend .round-corners-4; }}
    
#module-nav {
  display: inline-block;
  padding-left: 8px;
  ul {
    @include horizontal-list(10px);}}
    
#search-docs {
  display: inline-block;
  width: 23%;
  vertical-align: top;
  float: right;
  position: relative;
  input {
    @extend .sans-font;
    @extend .round-corners-4;
    position: relative; top: 6px;
    margin: 0; padding: 5px 8px;
    font-size: .8em;
    float: right;
    width: 100%; max-width: 200px; min-width: 80px;
    @include box-sizing(border-box);
    border: 0; }}