nav a { @include hover-link; }

header { @extend .group;
  font-size: 1.25em; font-family: "Museo Sans"; border-width: 4px;}
#main-nav {
  width: 76%;
  display: inline-block;
  padding-bottom: 10px;
  ul {
    @include horizontal-list(10px);
    line-height: 2em; }
  a[rel=home] {
    @include replace-text-with-dimensions("compass-logo-small.png");
    display: inline-block; }}

#sub-nav {
  @extend .group;
  padding: 8px 0; }
  
#docs-nav, #module-nav {
  display: inline-block;
  float: left;
  a {
    padding: 2px 10px;
    display: inline-block; }}
    
#docs-nav { padding-right: 15px; }
    
#module-nav {
  display: inline-block;
  padding-left: 8px;
  ul {
    @include horizontal-list(10px);}}
    
#search-docs {
  width: 20%; position: absolute; top: 29px; right: 0;
  input { @extend .sans-font; @extend .round-corners-4;
    @include box-sizing(border-box);
    width: 100%; max-width: 200px; min-width: 60px; border: 0; margin: 0; padding: 5px 8px;
    font-size: .8em;
    float: right; } }