@font-face {
  font-family: "pictos-web";
  src: url('/otherfonts/pictos-web.eot');
  src: local("?"), url('/otherfonts/pictos-web.woff') format('woff'), url('/otherfonts/pictos-web.ttf') format('truetype'), url('/otherfonts/pictos-web.svg#webfontIyfZbseF') format('svg');}

@include font-face("museosans-web", font-files("museosans-web.woff", woff, "museosans-web.ttf", truetype, "museosans-web.svg#webfontJHBEijmD", svg), 'museosans-web.eot');


.sans-font { font-family: 'Lucida Grande', Arial, sans-serif; }
.heading-font { font-family: 'museosans-web', 'serif'; }
.pictos { font-family: pictos, pictos-web; font-weight: normal; font-style: normal;}
.fixed-font { font-family: menlo, monaco, "andale mono", "courier new", fixed;}

#page > article {
  line-height: 1.45em;
  ol { list-style: outside decimal; padding-left: 2.5em;}
  ul, ol, dl { margin-bottom: 1.5em;}
  p { margin-bottom: 1.2em;}
  #{headings(1,2)}{ @extend .heading-font; line-height: 1.2em; }
  h1 { font-size: 30px; }
  h2 { font-size: 22px; margin: 15px 0 8px; padding-bottom: 6px;}
  h3 { font-size: 18px; }
  h1 { padding-bottom: 6px; margin-bottom: 9px; }
  ul { list-style: inside disc; }
  dt { font-weight: bold; }
}