@font-face { font-family: 'pictos-web';	src: url('http://s3.imathis.com/shared-assets/pictos-font/pictos-web.eot');	src: local('☺'), url('http://s3.imathis.com/shared-assets/pictos-font/http://pictos-web.woff') format('woff'), url('http://s3.imathis.com/shared-assets/pictos-font/pictos-web.ttf') format('truetype'), url('http://s3.imathis.com/shared-assets/pictos-font/pictos-web.svg#webfontIyfZbseF') format('svg'); font-weight: normal; font-style: normal;}

.sans-font { font-family: 'Lucida Grande', Arial, sans-serif; }
.heading-font { font-family: 'Museo Sans', 'serif'; }
.pictos { font-family: pictos-web; }

#page > article {
  ol { list-style: outside decimal; padding-left: 2.5em;}
  ul, ol { margin-bottom: 1.5em;}
  p { margin-bottom: 1.2em;}
  #{headings()}{ @extend .heading-font; line-height: 1.2em; }
  h1 { font-size: 30px; }
  h2 { font-size: 20px; }
}