@import "project-setup"
test
  background: image-url("testing.png")
.assets-one
  font-url: font-url("font-one.woff")
  image-url: image-url("image-one.png")
.assets-two
  font-url: font-url("font-two.ttf")
  image-url: image-url("image-two.jpg")
  subdir-image-url: image-url("subdir/image-three.gif")
