.two-col
  #header
    %h1 This is the Header
  #sidebar
    %ul
      %li
        %a(href="#") Nav #1
      %li
        %a(href="#") Nav #2
      %li
        %a(href="#") Nav #3
  #content
    %p
      Lorem ipsum dolor sit amet,
      consectetur adipisicing elit, sed do
      eiusmod tempor incididunt ut labore et
      dolore magna aliqua.
  #footer
    This is the footer.
