$blueprint_grid_columns : 8
$blueprint_grid_width : 40px

@import blueprint

.two-col
  +container
  background-color: #ccc
  #header, #footer
    +column(8)
  #sidebar
    +column(3)
  #content
    +column(5, true)
  
 