--- 
title: Compass Color Brightness
crumb: Color Brightness
framework: compass
stylesheet: compass/utilities/color/_brightness.scss
layout: core
meta_description: Compute the brightness of a color.
classnames:
  - reference
  - core
  - utilities
---
= render 'reference'
