--- 
title: Compass Bullets
crumb: Bullets
framework: compass
stylesheet: compass/utilities/lists/_bullets.scss
layout: core
meta_description: Mixins for managing list bullets.
nav_stylesheet: compass/_utilities.scss
classnames:
  - reference
  - core
  - utilities
---
= render 'reference'
