--- 
title: Compass Horizontal_list
crumb: Horizontal_list
framework: compass
stylesheet: compass/utilities/lists/_horizontal_list.sass
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
