--- 
title: Compass Inline_list
crumb: Inline_list
framework: compass
stylesheet: compass/utilities/lists/_inline_list.sass
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
