--- 
title: Compass Bullets
crumb: Bullets
framework: compass
stylesheet: compass/typography/lists/_bullets.scss
layout: core
meta_description: Mixins for managing list bullets.
classnames:
  - reference
  - core
  - typography
---
= render 'reference'
