--- 
title: Compass Inline List
crumb: Inline List
framework: compass
stylesheet: compass/typography/lists/_inline-list.scss
layout: core
meta_description: Style a list as inline text.
classnames:
  - reference
  - core
  - typography
---
= render 'reference'
