@import "compass/utilities/color";

.handles-null {
  content: "there should be no property below this one";
  color: contrast-color(null);
}

.contrasts-light {
  @include contrasted(#eee);
}

.contrasts-dark {
  @include contrasted(#222);
}

.contrasts-light-with-contrast-color-override {
  @include contrasted(#eee, $dark: red);
}

.contrasts-dark-with-contrast-color-override {
  @include contrasted(#222, $light: yellow);
}
