.example
  %ul
    %li.stretch-container
      #stretch-full
        This element is fully stretched.
    %li.stretch-container
      #stretch-offset
        This element is stretched with a 1em offset on each side.
    %li.stretch-container
      #stretch-x
        This
        %br
        element
        %br
        is
        %br
        stretched
        %br
        horizontally.
    %li.stretch-container
      #stretch-y
        This
        %br
        element
        %br
        is
        %br
        stretched
        %br
        vertically.
