--- 
title: Compass Ellipsis
crumb: Ellipsis
framework: compass
stylesheet: compass/utilities/text/_ellipsis.scss
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
