--- 
title: Compass Ellipsis
crumb: Ellipsis
framework: compass
stylesheet: compass/utilities/text/_ellipsis.scss
layout: core
nav_stylesheet: compass/_utilities.scss
classnames:
  - reference
  - core
  - utilities
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
