--- 
title: Compass Nowrap
crumb: Nowrap
framework: compass
stylesheet: compass/utilities/text/_nowrap.scss
layout: core
nav_stylesheet: compass/_utilities.scss
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
