--- 
title: Compass No Wrap
crumb: No Wrap
framework: compass
stylesheet: compass/utilities/text/_nowrap.scss
layout: core
meta_description: Remembering whether or not there's a hyphen in white-space is too hard.
nav_stylesheet: compass/_utilities.scss
classnames:
  - reference
  - core
  - utilities
---
- render 'reference' do
  %p
    Remembering whether or not there's a hyphen in white-space is too hard.
