--- 
title: Compass Replacement
crumb: Replacement
framework: compass
stylesheet: compass/utilities/text/_replacement.scss
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
