--- 
title: Compass Text Replacement
crumb: Text Replacement
framework: compass
stylesheet: compass/utilities/text/_replacement.scss
layout: core
meta_description: Replace text with images.
nav_stylesheet: compass/_utilities.scss
classnames:
  - reference
  - core
  - utilities
---
= render 'reference'