.CodeRay {
  .debug {
    color: white !important;
    background: blue !important; }
  .af {
    color: #0000cc; }
  .an {
    color: #000077; }
  .at {
    color: #ff0088; }
  .av {
    color: #770000; }
  .aw {
    color: #cc0000; }
  .bi {
    color: #550099;
    font-weight: bold; }
  .c {
    color: #888888; }
  .ch {
    color: #0044dd;
    .k {
      color: #0044dd; }
    .dl {
      color: #003399; } }
  .cl {
    color: #bb0066;
    font-weight: bold; }
  .cm {
    color: #aa0088;
    font-weight: bold; }
  .co {
    color: #003366;
    font-weight: bold; }
  .cr {
    color: #00aa00; }
  .cv {
    color: #336699; }
  .de {
    color: #bb00bb; }
  .df {
    color: #009999;
    font-weight: bold; }
  .di {
    color: #008888;
    font-weight: bold; }
  .dl {
    color: black; }
  .do {
    color: #997700; }
  .dt {
    color: #3344bb; }
  .ds {
    color: #dd4422;
    font-weight: bold; }
  .e {
    color: #666666;
    font-weight: bold; }
  .en {
    color: #880000;
    font-weight: bold; }
  .er {
    color: red;
    background-color: #ffaaaa; }
  .ex {
    color: #cc0000;
    font-weight: bold; }
  .fl {
    color: #6600ee;
    font-weight: bold; }
  .fu {
    color: #0066bb;
    font-weight: bold; }
  .gv {
    color: #dd7700;
    font-weight: bold; }
  .hx {
    color: #005588;
    font-weight: bold; }
  .i {
    color: #0000dd;
    font-weight: bold; }
  .ic {
    color: #bb4444;
    font-weight: bold; }
  .il {
    background: #dddddd;
    color: black;
    .il {
      background: #cccccc;
      .il {
        background: #bbbbbb; } }
    .idl {
      background: #dddddd;
      font-weight: bold;
      color: #666666; } }
  .idl {
    background-color: #bbbbbb;
    font-weight: bold;
    color: #666666; }
  .im {
    color: red; }
  .in {
    color: #bb22bb;
    font-weight: bold; }
  .iv {
    color: #3333bb; }
  .la {
    color: #997700;
    font-weight: bold; }
  .lv {
    color: #996633; }
  .oc {
    color: #4400ee;
    font-weight: bold; }
  .of {
    color: black;
    font-weight: bold; }
  .pc {
    color: #003388;
    font-weight: bold; }
  .pd {
    color: #336699;
    font-weight: bold; }
  .pp {
    color: #557799; }
  .ps {
    color: #0000cc;
    font-weight: bold; }
  .pt {
    color: #007744;
    font-weight: bold; }
  .r, .kw {
    color: #008800;
    font-weight: bold; }
  .ke {
    color: #880088;
    .dl {
      color: #660066; }
    .ch {
      color: #8800ff; } }
  .vl {
    color: #008888; }
  .rx {
    background-color: #fff0ff;
    .k {
      color: #880088; }
    .dl {
      color: #440044; }
    .mod {
      color: #cc22cc; }
    .fu {
      color: #440044;
      font-weight: bold; } }
  .s {
    background-color: #fff0f0;
    color: #dd2200;
    .s {
      background-color: #ffe0e0;
      .s {
        background-color: #ffd0d0; } }
    .ch {
      color: #bb00bb; }
    .dl {
      color: #771100; } }
  .sh {
    background-color: #f0fff0;
    color: #22bb22;
    .dl {
      color: #116611; } }
  .sy {
    color: #aa6600;
    .k {
      color: #aa6600; }
    .dl {
      color: #663300; } }
  .ta {
    color: #007700; }
  .tf {
    color: #007700;
    font-weight: bold; }
  .ts {
    color: #dd7700;
    font-weight: bold; }
  .ty {
    color: #333399;
    font-weight: bold; }
  .v {
    color: #003366; }
  .xt {
    color: #444444; }
  .ins {
    background: #aaffaa; }
  .del {
    background: #ffaaaa; }
  .chg {
    color: #aaaaff;
    background: #000077; }
  .head {
    color: #ff88ff;
    background: #550055; }
  .ins .ins {
    color: #008800;
    font-weight: bold; }
  .del .del {
    color: #880000;
    font-weight: bold; }
  .chg .chg {
    color: #6666ff; }
  .head .head {
    color: #ff44ff; } }
