--- 
title: Compass Clearfix
crumb: Clearfix
framework: compass
stylesheet: compass/utilities/general/_clearfix.scss
layout: core
meta_description: Mixins for clearfixing.
classnames:
  - reference
  - core
  - utilities
---
- render 'reference' do
  %p
    A clearfix will extend the bottom of the element to enclose any
    floated elements it contains.
