--- 
title: Compass Reset
crumb: Reset
framework: compass
stylesheet: compass/utilities/general/_reset.scss
layout: core
meta_description: Mixins for resetting elements (old import).
classnames:
  - reference
  - core
  - utilities
---
- render 'reference' do
  %p
    This is a legacy wrapper for the <code>reset/utilities</code> module.
