--- 
title: Blueprint Module
crumb: Blueprint
framework: blueprint
stylesheet: _blueprint.sass
classnames:
  - reference
---

- render 'reference' do
  %p
    The blueprint module is a simple way of importing all of the most
    commonly used blueprint modules. In addition, it provides
    a single mixin, <code class="mixin">+blueprint</code>, that
    can be used to generate the blueprint css styles.
