%h1= item[:title]

%p
  The blueprint module is a simple way of importing all of the most
  commonly used blueprint modules. In addition, it provides
  a single mixin, <code class="mixin">+blueprint</code>, that
  can be used to generate the blueprint css styles.

%h2 Imports

%ol
  - imports(@item).each do |import|
    %li= import

