--- 
title: Blueprint Module
crumb: Blueprint
framework: blueprint
stylesheet: _blueprint.scss
layout: blueprint
classnames:
  - reference
  - blueprint
meta_description: The Blueprint Framework -- ported to Sass.
---

- render 'reference' do
  :markdown
    The blueprint module is a simple way of importing all of the most
    commonly used blueprint modules. In addition, it provides
    a single mixin, <code class="mixin">+blueprint</code>, that
    can be used to generate the blueprint css styles.
    
    ### Installing

    To create a project using blueprint:
    
        compass create my_project --using blueprint
    
    To add blueprint to an existing compass project:
    
        compass install blueprint
    
    To add blueprint and compass to a Rails project:
    
        compass init rails --using blueprint
    
    ### Alternate Project Layouts
    
    For any of the above commands you could have also selected
    the `blueprint/basic` or `blueprint/semantic` patterns. The basic
    pattern assumes that you'll start out using conventional class-based
    blueprint styling techniques, while the semantic template
    assumes that you'll be using mixins and `@extend` to style
    your site. Example:
    
        compass create my_project --using blueprint/semantic
