--- 
title: Compass Core Framework
crumb: Compass Core
framework: compass
stylesheet: _compass.sass
classnames:
  - reference
meta_description: The Compass Core Framework.
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
