--- 
title: Compass Core Framework
crumb: Compass Core
framework: compass
stylesheet: _compass.scss
classnames:
  - reference
meta_description: The Compass Core Framework.
---
- render 'reference' do
  %p
    The compass core framework is a design-agnostic framework that
    provides common code that would otherwise be duplicated across
    other frameworks and extensions.

%h2 Non Imported Modules

%p
  You can import these yourself if you want to use them.
%ul
  = render "partials/reference/import", :import => "compass/_layout.scss"
  = render "partials/reference/import", :import => "compass/_reset.scss"
  = render "partials/reference/import", :import => "compass/_misc.scss"

