// makes a list inline.

@mixin inline-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
  li {
    margin: 0px;
    padding: 0px;
    display: inline; } }

// makes an inline list that is comma delimited.
// Please make note of the browser support issues before using this mixin.
//
// use of `:content` and `:after` is not fully supported in all browsers.
// See quirksmode for the [support matrix](http://www.quirksmode.org/css/contents.html#t15)
//
// `:last-child` is not fully supported.
// see quirksmode for the [support matrix](http://www.quirksmode.org/css/contents.html#t29).

@mixin comma-delimited-list {
  @include inline-list;
  li {
    &:after {
      content: ", "; }
    &:last-child, &.last {
      &:after {
        content: ""; } } } }
