/* New test using em output */
html {
  font-size: 112.5%;
  line-height: 1.4em; }

.container {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  -moz-background-size: 100% 1.4em;
  -o-background-size: 100% 1.4em;
  -webkit-background-size: 100% 1.4em;
  background-size: 100% 1.4em;
  background-position: left top; }

p {
  margin-top: 1.4em;
  margin-bottom: 1.4em; }

th,
td {
  padding-top: 0.35em;
  padding-bottom: 0.35em; }

.caption {
  font-size: 0.72222em;
  line-height: 1.55077em; }

.spaced-out {
  line-height: 2.1em; }

blockquote {
  margin-top: 1.4em;
  margin-bottom: 1.4em;
  padding: 0 1.4em; }

.fig-quote > blockquote {
  margin-bottom: 0.7em; }
.fig-quote .source {
  font-size: 0.72222em;
  line-height: 1.93846em;
  margin-bottom: 0.96923em; }

.panel {
  font-size: 0.88889em;
  line-height: 1.575em;
  border-width: 0.0625em;
  border-style: solid;
  border-color: #aaaaaa;
  padding: 1.5125em; }
