.example
  #auto
    %code background-size: auto
  #contain
    %code background-size: contain
  #cover
    %code background-size: cover
  #percent
    %code background-size: 50% 50%
  #absolute
    %code background-size: 100px 25px