--- 
title: Compass Clearfix
crumb: Clearfix
framework: compass
stylesheet: compass/utilities/general/_clearfix.scss
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
