--- 
title: Compass Clearfix
crumb: Clearfix
framework: compass
stylesheet: compass/utilities/general/_clearfix.scss
layout: core
nav_stylesheet: compass/_utilities.scss
classnames:
  - reference
  - core
  - utilities
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
