--- 
title: Compass Float
crumb: Float
framework: compass
stylesheet: compass/utilities/general/_float.scss
layout: core
nav_stylesheet: compass/_utilities.scss
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
