--- 
title: Compass Hacks
crumb: Hacks
framework: compass
stylesheet: compass/utilities/general/_hacks.scss
layout: core
meta_description: Mixins for hacking specific browsers.
classnames:
  - reference
  - core
  - utilities
---
- render 'reference' do
  %p
    A collection of mixins for hacking specific browsers.
