--- 
title: Compass Min
crumb: Min
framework: compass
stylesheet: compass/utilities/general/_min.scss
layout: core
nav_stylesheet: compass/_utilities.scss
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
