--- 
title: Minimum Dimensions
crumb: Minimums
framework: compass
stylesheet: compass/utilities/general/_min.scss
layout: core
meta_description: Mixins for cross-browser min-height and min-width.
classnames:
  - reference
  - core
  - utilities
---
- render 'reference' do
  %p
    Cross browser implementation of min-height and min-width.
