--- 
title: Compass Reset
crumb: Reset
framework: compass
stylesheet: compass/utilities/general/_reset.scss
layout: core
meta_description: Mixins for resetting elements.
nav_stylesheet: compass/_utilities.scss
classnames:
  - reference
  - core
  - utilities
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
