--- 
title: Compass Tabs
crumb: Tabs
framework: compass
stylesheet: compass/utilities/general/_tabs.scss
layout: core
nav_stylesheet: compass/_utilities.scss
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
