--- 
title: Compass Tag_cloud
crumb: Tag_cloud
framework: compass
stylesheet: compass/utilities/general/_tag_cloud.sass
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
