--- 
title: Compass Tag_cloud
crumb: Tag Cloud
framework: compass
stylesheet: compass/utilities/general/_tag-cloud.scss
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
