@import "compass/css3/columns";

.column-count       { @include column-count(5);               }
.column-gap         { @include column-gap(10px);              }
.column-width       { @include column-width(90px);            }
.column-rule-width  { @include column-rule-width(1px);        }
.column-rule-style  { @include column-rule-style(dotted);     }
.column-rule-color  { @include column-rule-color(blue);       }
.column-rule        { @include column-rule(1px, solid, blue); }
.column-rule-spaced { @include column-rule(1px solid blue);   }
