@import "compass/utilities";

.clearfix {
    @include clearfix;
}

.pie-clearfix {
    @include pie-clearfix;
}

p.light { @include contrasted(#B0201E); }
p.dark  { @include contrasted(#5F1210); }
p.light-with-args { @include contrasted(#B0201E, green, blue); }
p.dark-with-args  { @include contrasted(#5F1210, green, blue); }
