---
title: Compass Help
crumb: Help
classnames:
  - help
  - getting-started
layout: site
---
%article
  %h1 Getting started with Compass

  :markdown
    Compass is an open-source CSS authoring framework which uses the [Sass stylesheet
    language](http://sass-lang.com) to make writing stylesheets powerful and easy. If you're
    not familiar with Sass, you can take a look at [these simple tutorials](http://sass-lang.com/tutorial.html)
    to get caught up.

  <object width="700" height="438"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=11671458&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=11671458&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="700" height="438"></embed></object><p><a href="http://vimeo.com/11671458">An introduction to Compass</a> from <a href="http://vimeo.com/ltackett">Lorin Tackett</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

  :markdown
    ## Installing Compass

    Compass is a tool that runs on the command line. On any system with ruby installed, open your terminal and type:

        gem install compass

    This will install Compass and Sass too. If you want to verify that compass is installed:

        compass version

    ## Manual Setup

        compass create /path/to/project
        cd /path/to/project
        compass watch

    Now you can edit the `*.scss` files in the `sass` directory with the text editor of your choice.
    the `compass watch` process will automatically compile your them into css in the stylesheets directory whenever they change.
    The files in the `sass` directory are yours and you can change them, delete them, add new ones, etc.

    ## Manual setup using the Blueprint Framework

    When starting a project from scratch:

        compass create /path/to/project --using blueprint

    When installing into an existing project:

        cd /path/to/project
        compass install blueprint

    To read more about using the Blueprint framework with Compass, [see the docs](/reference/blueprint/)

    ## Rails Setup

        compass init rails /path/to/myrailsproject

    Using Blueprint with Rails:

        compass init rails /path/to/myrailsproject --using blueprint

