---
title: Compass Grid Backgrounds
crumb: Grid Background
framework: compass
stylesheet: compass/layout/_grid-background.scss
layout: core
classnames:
  - reference
  - core
  - layout
---
- render 'reference' do
  %p
    The grid-background mixins allow you to generate fixed, fluid and elastic
    grid-images on-the-fly using css3 gradients. These can be used for testing
    both horizontal and vertical grids.
