---
title: Compass Animation
crumb: Animation
framework: compass
stylesheet: compass/css3/_animation.scss
meta_description: Specify the CSS3 animation property and all its sub-properties.
layout: core
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  :markdown
    Provides a mixin for `animation` and all its sub-properties.
    See the CSS3 specification: [animation](http://www.w3.org/TR/css3-animations/).
