--- 
title: Compass Appearance
crumb: Appearance
framework: compass
stylesheet: compass/css3/_appearance.scss
meta_description: Specify the CSS3 appearance property.
layout: core
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  :markdown
    Provides a mixin for `appearance`.
    See the CSS3 specification: [appearance](http://www.w3.org/TR/css3-ui/#appearance).
