--- 
title: Compass Background Size
crumb: Background Size
framework: compass
stylesheet: compass/css3/_background_size.sass
meta_description: Specify the background size for all browsers.
classnames:
  - reference
---
- render 'reference' do
  %p
    This mixin provides . See <a href="http://www.w3.org/TR/css3-background/#the-background-size">CSS3 spec: background-size</a>.
