--- 
title: Compass Background_clip
crumb: Background_clip
framework: compass
stylesheet: compass/css3/_background_clip.sass
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
