--- 
title: Compass Background Size
crumb: Background Size
framework: compass
stylesheet: compass/css3/_background-size.scss
meta_description: Specify the background size for all browsers.
layout: core
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  %p
    This mixin provides cross browser access to the CSS3 <code>background-size</code> attribute using supported vendor prefixes. See <a href="http://www.w3.org/TR/css3-background/#the-background-size">CSS3 spec: background-size</a>.
