--- 
title: Compass Background Clip
crumb: Background Clip
framework: compass
stylesheet: compass/css3/_background-clip.scss
meta_description: Specify the background clip for all browsers.
layout: core
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  %p
    Provides a mixin for <code>background-clip</code>. See <a href="http://www.w3.org/TR/2009/CR-css3-background-20091217/#background-clip">CSS3 spec: background-clip</a>.
