--- 
title: Compass Border_radius
crumb: Border_radius
framework: compass
stylesheet: compass/css3/_border_radius.sass
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
