--- 
title: Compass Border Radius
crumb: Border Radius
framework: compass
stylesheet: compass/css3/_border-radius.scss
meta_description: Specify the border radius for all browsers.
layout: core
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  %p
    The border-radius mixin is used to give a block element rounded corners. It automatically outputs the correct vendor specific syntax for each browser (e.g. <code>-webkit-border-radius</code> and <code>-moz-border-radius</code>). See <a href="http://www.w3.org/TR/css3-background/#the-border-radius">CSS3 spec: border-radius</a>.
