--- 
title: Compass Border Image
crumb: Border Image
framework: compass
stylesheet: compass/css3/_border-image.scss
meta_description: Specify the border image for all browsers.
layout: core
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  %p
    The border-image mixin is used to give a block element an image to be used instead of the normal border. It automatically outputs the correct vendor specific syntax for each browser (e.g. <code>-webkit-border-image</code> and <code>-moz-border-image</code>). See <a href="http://www.w3.org/TR/css3-background/#the-border-image">CSS3 spec: border-image</a>.
