--- 
title: Compass Box
crumb: Box
framework: compass
stylesheet: compass/css3/_box.scss
meta_description: This module provides mixins that pertain to the CSS3 Flexible Box.
layout: core
classnames:
  - reference
---
- render 'reference' do
  %p
    This module provides mixins that pertain to the CSS3 Flexible Box.
