--- 
title: Compass Box Shadow
crumb: Box Shadow
framework: compass
stylesheet: compass/css3/_box-shadow.scss
meta_description: Specify the box shadow for all browsers.
layout: core
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  %p
    The box-shadow mixins are used to apply an inset or drop shadow to a block element.
