--- 
title: Compass Box Sizing
crumb: Box Sizing
framework: compass
stylesheet: compass/css3/_box-sizing.scss
meta_description: Specify the box sizing for all browsers.
layout: core
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  %p
    Provides a mixin for the <code>box-sizing</code> property, which allows you to change how the box model works. See <a href="http://www.w3.org/TR/css3-ui/#box-sizing">W3C CSS3 spec: box-sizing</a>.
