--- 
title: Compass Box Shadow
crumb: Box Shadow (Deprecated)
framework: compass
stylesheet: compass/css3/_box-shadow.scss
meta_description: Specify the box shadow for all browsers.
layout: core
deprecated: true
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  %p
    This import is deprecated. Please import
    <a href="/docs/reference/compass/css3/box_shadow_v2/">box_shadow_v2</a> instead.