--- 
title: Compass Box_shadow
crumb: Box_shadow
framework: compass
stylesheet: compass/css3/_box_shadow.sass
classnames:
  - reference
---
- render 'reference' do
  %p
    The box-shadow mixin is used to give a block element a drop shadow.
