--- 
title: Compass Box Shadow
crumb: Box Shadow
framework: compass
stylesheet: compass/css3/_box-shadow.scss
meta_description: Specify the box shadow for all browsers.
layout: core
classnames:
  - reference
---
- render 'reference' do
  %p
    The box-shadow mixin is used to give a block element a drop shadow.