--- 
title: Compass Columns
crumb: Columns
framework: compass
stylesheet: compass/css3/_columns.scss
meta_description: Specify a columnar layout for all browsers.
layout: core
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  %p
    Provides a mixin for the CSS3 Multi-column layout module. See <a href="http://www.w3.org/TR/css3-multicol/">CSS3 spec: Multi-colum layout module</a>.
