--- 
title: Compass Flexbox
crumb: Flexbox
framework: compass
stylesheet: compass/css3/_flexbox.scss
meta_description: This module provides mixins that pertain to the CSS3 Flexible Box.
layout: core
classnames:
  - reference
---
- render 'reference' do
	%p
		This module provides a unified collection of mixins for the following Flexbox specifications:

	%ul
		%li <a href="http://www.w3.org/TR/2009/WD-css3-flexbox-20090723/">July 2009 Working Draft</a> (box)
		%li <a href="http://www.w3.org/TR/2012/WD-css3-flexbox-20120322/">March 2012 Working Draft</a> (flexbox)
		%li <a href="http://www.w3.org/TR/2012/CR-css3-flexbox-20120918/">September 2012 Candidate Recommendation</a> (flex)
