--- 
title: Compass Font Face
crumb: Font Face
framework: compass
stylesheet: compass/css3/_font-face.scss
meta_description: Specify a downloadable font face for all browsers.
layout: core
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  %p
    Provides a mixin to support @font-face. See <a href="http://www.w3.org/TR/css3-fonts/#the-font-face-rule">CSS3 spec: @font-face</a>.
