--- 
title: Compass Font_face
crumb: Font_face
framework: compass
stylesheet: compass/css3/_font_face.sass
classnames:
  - reference
---
- render 'reference' do
  %p
    Provides a mixin to support @font-face. See <a href="http://www.w3.org/TR/css3-fonts/#the-font-face-rule">CSS3 spec: @font-face</a>.
