--- 
title: Compass Gradient
crumb: Gradient
framework: compass
stylesheet: compass/css3/_gradient.scss
meta_description: Specify linear gradients and radial gradients for all browsers.
layout: core
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  %p
    Provides mixins to create cross-browser CSS3 gradients.
    To enable SVG gradient support in Opera and IE9, set
    <code>$experimental-support-for-svg: true</code> in your stylesheet.
    NOTE: At this time, opera won't render an SVG background on a element
    with a border.
