--- 
title: Compass Gradient
crumb: Gradient
framework: compass
stylesheet: compass/css3/_gradient.scss
deprecated: true
meta_description: Specify linear gradients and radial gradients for all browsers.
layout: core
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  :markdown
    **<span class="warning">IMPORTANT:</span>** This module has been deprecated. See the new
    [images module](../images/) for the new, more flexible approach to gradients.
    
    Provides mixins to create cross-browser CSS3 gradients.
