--- 
title: Compass Gradient
crumb: Gradient
framework: compass
stylesheet: compass/css3/_gradient.sass
meta_description: Specify linear gradients and radial gradients for all browsers.
classnames:
  - reference
---
- render 'reference' do
  %p
    Provides a mixin to create cross-browser CSS3 gradients.
