--- 
title: Compass Hyphenation
crumb: Hyphenation
framework: compass
stylesheet: compass/css3/_hyphenation.scss
meta_description: Mixin for breaking space and injecting hypens into overflowing text
layout: core
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  :markdown
    Provides mixins that pertain to CSS3 Word Breaking and Hyphenation.
    See the CSS3 specification: [hyphens](http://www.w3.org/TR/css3-text/#hyphens) and [word-break](http://www.w3.org/TR/css3-text/#word-break).
