--- 
title: Compass Hyphenate
crumb: Hyphenate
framework: compass
stylesheet: compass/css3/_hyphenate.scss
meta_description: Mixin for breaking space and injecting hypens into overflowing text
layout: core
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  :markdown
    Provides a mixin for `hyphenate`.
    See the CSS3 specification: [appearance](http://www.w3.org/TR/css3-ui/#appearance).
