--- 
title: Compass Images
crumb: Images
framework: compass
stylesheet: compass/css3/_images.scss
meta_description: Specify linear gradients and radial gradients for many browsers.
layout: core
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  :markdown
    Provides mixins that work across many modern browsers with the latest
    CSS3 image rendering primitives.
    
    These mixins provide intelligent cross-browser access to properties that accept
    images or image-like values (e.g. gradients). The syntax is very straightforward,
    it is exactly like the css syntax that you would use for the corresponding CSS3
    properties: Values are comma and space delimited, just as they would be for a property.
    Vendor prefixes are used only when necessary.
    
    Example (more examples are available by following the links below):
    
    <pre><code class="source-code scss">.in-css3 {
      background: url(foo.png),
                  linear-gradient(top left, #333, #0c0),
                  radial-gradient(#c00, #fff 100px);
    }
    .with-compass {
      @include background(image-url("foo.png"),
                          linear-gradient(top left, #333, #0c0),
                          radial-gradient(#c00, #fff 100px));
    }</code></pre>
        
    To enable SVG gradient support in Opera and IE9, set
    <code>$experimental-support-for-svg: true</code> in your stylesheet.
    
    NOTE: At this time, Opera renders incorrectly an SVG background on a element
    with a border, repeating the gradient towards the end. You can set
    <code>background-repeat: no-repeat</code> to avoid this, but the gradient
    will not fill the area completely.
