--- 
title: Compass Images
crumb: Images
framework: compass
stylesheet: compass/css3/_images.scss
meta_description: Specify linear gradients and radial gradients for many browsers.
layout: core
beta: true
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  %p
    Provides mixins that work across many modern browsers with the latest
    CSS3 image rendering primitives.
