--- 
title: Compass Inline_block
crumb: Inline_block
framework: compass
stylesheet: compass/css3/_inline_block.sass
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
