--- 
title: Compass Inline Block
crumb: Inline Block
framework: compass
stylesheet: compass/css3/_inline-block.scss
meta_description: Declare an element inline block for all browsers.
layout: core
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  %p
    Provides a cross-browser method to implement <code>display: inline-block;</code>. Note that this was actually introduced in CSS2, but badly implemented across browsers. See <a href="http://www.w3.org/TR/CSS21/visuren.html#propdef-display">CSS2.1 spec: display</a>.
  %blockquote
    This value causes an element to generate a block box, which itself is flowed as a single inline box, similar to a replaced element. The inside of an inline-block is formatted as a block box, and the element itself is formatted as an inline replaced element. 
