--- 
title: Compass Opacity
crumb: Opacity
framework: compass
stylesheet: compass/css3/_opacity.sass
classnames:
  - reference
---
- render 'reference' do
  %p
    Provides cross-browser CSS opacity. See <a href="http://www.w3.org/TR/css3-color/#transparency">CSS3 spec: transparency</a>.