--- 
title: Compass Opacity
crumb: Opacity
framework: compass
stylesheet: compass/css3/_opacity.scss
meta_description: Specify the opacity for all browsers.
layout: core
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  %p
    Provides cross-browser CSS opacity. See <a href="http://www.w3.org/TR/css3-color/#transparency">CSS3 spec: transparency</a>.