--- 
title: Compass CSS Regions
crumb: CSS Regions
framework: compass
stylesheet: compass/css3/_regions.scss
meta_description: Specify CSS Regions for supported browsers.
layout: core
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  %p
    Provides two mixins for CSS regions, properties which allow you to flow content into new containers. See <a href="http://dev.w3.org/csswg/css3-regions/">the spec draft</a> and <a href="http://labs.adobe.com/technologies/cssregions/">Adobe's page on the topic</a>. 