--- 
title: Compass Selection
crumb: Selection
framework: compass
stylesheet: compass/css3/_selection.scss
meta_description: Specify selection styles for supported browsers.
layout: core
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  %p Provides cross-browser CSS selection styles. 
