--- 
title: Compass Text Shadow
crumb: Text Shadow (Deprecated)
framework: compass
stylesheet: compass/css3/_text-shadow.scss
meta_description: Specify the text shadow for all browsers.
layout: core
deprecated: true
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  %p
    This import is deprecated. Please import
    <a href="/docs/reference/compass/css3/text_shadow_v2/">text_shadow_v2</a> instead.
