--- 
title: Compass Text_shadow
crumb: Text_shadow
framework: compass
stylesheet: compass/css3/_text_shadow.sass
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
