--- 
title: Compass Transform
crumb: Transform (v1)
framework: compass
stylesheet: compass/css3/_transform.scss
meta_description: Specify the 2D transformation for all browsers.
layout: core
deprecated: true
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  %p.warning
    This import is deprecated. Please import
    <a href="/docs/reference/compass/css3/transform-v2/" class="better">transform-v2</a> instead.
