--- 
title: Compass Transition
crumb: Transition
framework: compass
stylesheet: compass/css3/_transition.sass
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
