--- 
title: Compass Transition
crumb: Transition
framework: compass
stylesheet: compass/css3/_transition.sass
meta_description: Specify a style transition for all browsers.
classnames:
  - reference
---
- render 'reference' do
  %p
    Provides a mixin for CSS3 transitions. See <a href="http://www.w3.org/TR/css3-transitions/">CSS3 Spec: transitions</a>.
