--- 
title: Compass Transform (Legacy)
crumb: Transform (legacy)
framework: compass
stylesheet: compass/css3/_transform-legacy.scss
meta_description: Specify the 2D transformation for many browsers.
layout: core
deprecated: true
classnames:
  - reference
  - core
  - css3
---
- render 'reference' do
  %p.warning
    This import is deprecated. Please import
    <a href="/reference/compass/css3/transform/" class="better">transform</a> instead.
