.ex
  .gradient-example
  %p
    This box has no gradients

.ex
  #radial-gradient.gradient-example
  %p
    This will yield a radial gradient with an apparent specular highlight  

.ex
  #linear-gradient.gradient-example
  %p
    This yields a linear gradient spanning from $start to $end coordinates  

.ex
  #v-gradient.gradient-example
  %p
    This yields a gradient starting at the top with #fff, ending in #aaa  

.ex
  #v-gradient-2.gradient-example
  %p
    Same as above but with a #ccc at the halfway point  

.ex
  #v-gradient-3.gradient-example
  %p
    Same as the first example but with #ccc at the
    30% from the top, and #bbb at 70% from the top  


.ex
  #h-gradient.gradient-example
  %p
    This yields a horizontal linear gradient spanning from left to right.

.ex
  #svg-gradient.gradient-example
  %p
    This gradient has SVG support enabled for opera and IE9.
