%p
  this box has no gradients

.gradient-example

%p
  This will yield a radial gradient with an apparent specular highlight  

#radial-gradient.gradient-example

%p
  This yields a linear gradient spanning from !start to !end coordinates  

#linear-gradient.gradient-example

%p
  This yields a gradient starting at the top with #fff, ending in #aaa  

#v-gradient.gradient-example

%p
  Same as above but with a #ccc at the halfway point  

#v-gradient-2.gradient-example

%p
  Same as the first example but with #ccc at the
  30% from the top, and #bbb at 70% from the top  

#v-gradient-3.gradient-example

%p
  This yields a horizontal linear gradient spanning from left to right.

#h-gradient.gradient-example