---
title: Compass Table Borders Example
description: How to use the table border mixins.
framework: compass
stylesheet: compass/utilities/tables/_borders.scss
example: true
---
= render "partials/example"
