---
title: Compass Table Scaffolding Example
description: How to use the table scaffolding mixins.
framework: compass
stylesheet: compass/utilities/tables/_scaffolding.scss
example: true
---
= render "partials/example"
