---
title: Compass Table Striping Example
description: How to use the alternating-rows-and-columns mixin.
framework: compass
stylesheet: compass/utilities/tables/_alternating-rows-and-columns.scss
example: true
---
= render "partials/example"
