--- 
title: Compass Display Helpers
crumb: Display Helpers
framework: compass
meta_description: Helper functions for working with the display property.
layout: core
classnames:
  - reference
  - core
  - helpers
documented_functions:
  - "elements-of-type"
---
%h1 Compass Display Helpers

%p Helper functions for working with the display property.

#elements-of-type.helper
  %h3
    %a(href="#elements-of-type") elements-of-type(<span class="arg">$display</span>)
  .details
    %p
      The following display values exist and will return
      the elements listed below the display value.
    %dl
      %dg.head
        %dt Display Value
        %dd Elements Returned
      - display_map = Compass::SassExtensions::Functions::Display::DEFAULT_DISPLAY
      - display_map.keys.each do |key|
        %dg
          %dt= key
          %dd= display_map[key].sort.join(", ")
  .examples
    %h4 Examples
    %ul
      %li
        %a(href="/examples/compass/helpers/elements-of-type/") Example of elements-of-type

