--- 
title: Compass Image Dimension Helpers
crumb: Image Dimensions
framework: compass
meta_description: Helper functions for working with image dimensions.
layout: core
classnames:
  - reference
  - core
  - helpers
documented_functions:
  - "image-width"
  - "image-height"
---
%h1 Compass Image Dimension Helpers

#image-width.helper
  %h3
    %a(href="#image-width")
      image-width(<span class="arg">$image</span>)
  .details
    %p
      Returns the width of the image found at the path supplied by <code>$image</code>
      relative to your project's images directory.

#image-height.helper
  %h3
    %a(href="#image-height")
      image-height(<span class="arg">$image</span>)
  .details
    %p
      Returns the height of the image found at the path supplied by <code>$image</code>
      relative to your project's images directory.