---
title: Background Clip
description: See background-clip in action.
framework: compass
stylesheet: compass/css3/_background-clip.scss
example: true
---
- render "partials/example" do
  %p
    In this example, there's a red border with alpha transparency.
    The padding box appears pink against the white background of the page.
    The border box appears purple because it blends with the blue background instead.
