--- 
title: Wrapping Long Text and URLs
crumb: Force Wrap
framework: compass
stylesheet: compass/utilities/text/_forcewrap.scss
layout: core
meta_description: Wrap URLs and long lines of text.
nav_stylesheet: compass/_utilities.scss
classnames:
  - reference
  - core
  - utilities
---
- render 'reference' do
  %p
    This mixin will wrap URLs and long lines of text to prevent text from breaking layouts.
