--- 
title: Wrapping Long Text and URLs
crumb: Force Wrap
framework: compass
stylesheet: compass/typography/text/_force-wrap.scss
layout: core
meta_description: Wrap URLs and long lines of text.
classnames:
  - reference
  - core
  - typography
---
- render 'reference' do
  %p
    This mixin will wrap URLs and long lines of text to prevent text from breaking layouts.
