--- 
title: Compass No Wrap
crumb: No Wrap
framework: compass
stylesheet: compass/typography/text/_nowrap.scss
layout: core
meta_description: Remembering whether or not there's a hyphen in white-space is too hard.
classnames:
  - reference
  - core
  - typography
---
- render 'reference' do
  %p
    Remembering whether or not there's a hyphen in white-space is too hard.
