--- 
title: Compass Text Replacement
crumb: Text Replacement
framework: compass
stylesheet: compass/typography/text/_replacement.scss
layout: core
meta_description: Replace text with images.
classnames:
  - reference
  - core
  - typography
---
= render 'reference'