---
title: Compass Help
crumb: Help
classnames:
  - help
  - getting-started
layout: site
---
%article
  %h1 Getting started with Compass

  :markdown
    Compass is an open-source CSS authoring framework which uses the [Sass stylesheet
    language](http://sass-lang.com) to make writing stylesheets powerful and easy. If you're
    not familiar with Sass, Go to [sass-lang.com](http://sass-lang.com/guide) to learn
    all about how it works.

  :markdown
    ## Installing Compass

    To install, please follow the steps found in the [Compass installation guide](/install/).

    This will install Compass and Sass too. If you want to verify that compass is installed, run:

        $ compass version

    ## Watching and Compiling your Project

    When doing development on your project, you can run the compass watcher to keep your CSS files
    up to date as changes are made.

        $ cd /path/to/project
        $ compass watch

    When it comes time to compile your css files for production use, pass the `--production`
    compiler option to select defaults that optimize your output for end-users:

        $ compass compile --production

    ## Using Compass without the Command-Line

    You can use compass without the compass command line tools. In some cases,
    this may make it easier to integrate with sass-based compilers and frameworks.

        $ gem install compass-core
        $ cat <<- EOF > _project-setup.scss
        \$project-path: absolute-path(join-file-segments(".."));
        @import "compass/configuration";
        \$compass-options: (http_path: "/");
        @include compass-configuration(\$compass-options...);
        EOF
        # Add to the top of each sass file: @import "project-setup";
        $ sass -r compass-core --update sass:css

    TODO: Add full documentation on Sass-based configuration options.
