---
title: Compass Tutorials
crumb: Tutorials
classnames:
  - tutorial
layout: tutorial
---
%h1 Compass Tutorials

:markdown
  These tutorials are still a work-in-progress, if you have questions that aren't covered here let us know on the [Compass users mailing list](http://groups.google.com/group/compass-users) where there are lots of
  friendly Compass users standing by to help you out.

  ## New to Compass?

  If you're new to Compass, you might be interested in [best practices](/help/tutorials/best_practices/), the [configuration reference](/help/tutorials/configuration-reference/), [configurable variables](/help/tutorials/configurable-variables/),
  or the [command line documentation](/help/tutorials/command-line/).

  ## Want to contribute?

  If you've been using Compass for a while and you'd like to give back, check out the tutorials on [contributing](/help/tutorials/contributing/) and [creating extensions](/help/tutorials/extensions/).
