- if path = reference_path(:stylesheet => import)
  - imported_item = reference_item(:stylesheet => import)
  <a href="#{path}" title="@import #{import}">#{imported_item[:crumb] || imported_item[:title]}</a>#{"," unless @last}

