--- 
title: Compass Hover Link
crumb: Hover Link
framework: compass
stylesheet: compass/typography/links/_hover-link.scss
layout: core
meta_description: Underline a link when you hover over it.
classnames:
  - reference
  - core
  - typography
---
= render 'reference'
