--- 
title: Compass Link Colors
crumb: Link Colors
framework: compass
stylesheet: compass/typography/links/_link-colors.scss
layout: core
meta_description: Easy assignment of colors to link states.
classnames:
  - reference
  - core
  - typography
---
= render 'reference'
