--- 
title: Compass Unstyled Link
crumb: Unstyled Link
framework: compass
stylesheet: compass/typography/links/_unstyled-link.scss
layout: core
meta_description: Make a link appear like regular text.
classnames:
  - reference
  - core
  - typography
---
- render 'reference' do
  %p
    Makes a link appear like regular text. Not supported by IE 6 or 7.
