@import "shared";

// ----------------------------------------------------------------------------
// @private css3-feature-support variables must always include a list of five boolean values
// representing in order: -moz, -webkit, -o, -ms, -khtml
//   - mozilla/webkit legacy support handled seperately below
$background-size-support: moz, -webkit, -o, not -ms, -khtml;

// ----------------------------------------------------------------------------
// Default

//  override to change the default
$default-background-size: 100% auto !default;

// ----------------------------------------------------------------------------
// Mixin

// Set the size of background images using px, width and height, or percentages.
// Currently supported in: Opera, Gecko, Webkit.
//
// * percentages are relative to the background-origin (default = padding-box)
// * mixin defaults to: `$default-background-size`
@mixin background-size($size...) {
  $size: set-arglist-default($size, $default-background-size);
  @include experimental(background-size, $size, $background-size-support...);
}
