// Background Origin

@import "shared";

// @private css3-feature-support variables must always include a list of five boolean values
// representing in order: -moz, -webkit, -ms, -o, -khtml
//   - mozilla/webkit legacy support handled seperately below
$background-origin-support: not -moz, not -webkit, not -ms, not -o, -khtml;


// The default background-origin: [border-box | padding-box | content-box]
$default-background-origin: content-box !default;


// Set the origin of the background (image and color) at the edge of the padding, border, or content.
//   $origin... : [padding-box | border-box | content-box]
@mixin background-origin($origin...) {
  $output: compact();
  $deprecated: compact();

  @if (length($origin) > 0) {
    @each $layer in $origin {
      $output: append($output, unquote($layer));
      $deprecated: append($deprecated, legacy-box($layer));
    }
  } @else {
    $output: $default-background-origin;
    $deprecated: legacy-box($default-background-origin);
  }

  // Legacy versions of Mozilla support a different syntax, prefixed.
  @include experimental-only-for(background-origin, $deprecated,
    $moz: $legacy-support-for-mozilla,
    $webkit: $legacy-support-for-webkit
  );

  // Official syntax for the rest
  @include experimental(background-origin, $output, $background-origin-support...);
}
