// @doc off
// These defaults make the arguments optional for this mixin
// If you like, set different defaults before importing.
// @doc on

@import "shared";

// The default color for box shadows
$default-box-shadow-color: #333333 !default;

// The default horizontal offset. Positive is to the right.
$default-box-shadow-h-offset: 1px !default;

// The default vertical offset. Positive is down.
$default-box-shadow-v-offset: 1px !default;

// The default blur length.
$default-box-shadow-blur: 5px !default;

// The default spread length.
$default-box-shadow-spread : 0 !default;

// The default shadow instet: inset or false (for standard shadow).
$default-box-shadow-inset : false !default;

// Provides cross-browser CSS box shadows for Webkit, Gecko, and CSS3.
// Arguments are color, horizontal offset, vertical offset, blur length, spread length, and inset.

@mixin box-shadow(
  $color  : $default-box-shadow-color, 
  $hoff   : $default-box-shadow-h-offset, 
  $voff   : $default-box-shadow-v-offset, 
  $blur   : $default-box-shadow-blur, 
  $spread : $default-box-shadow-spread, 
  $inset  : $default-box-shadow-inset
) {
  $full   : $color $hoff $voff $blur $spread;
  @if $inset {
    $full: $full $inset;
  }
  @if $color == none {
    @include experimental(box-shadow, none,
      -moz, -webkit, -o, not -ms, not -khtml, official
    );
  } @else {  
    @include experimental(box-shadow, $full,
      -moz, -webkit, -o, not -ms, not -khtml, official
    );
  }
}
