// CSS Transitions

@import "shared";

// @private css3-feature-support variables must always include a list of five boolean values
// representing in order: -moz, -webkit, -ms, -o, -khtml.
$transition-support: not -moz, -webkit, not -ms, not -o, not -khtml;


$default-transition-property: all !default;

$default-transition-duration: 1s !default;

$default-transition-function: false !default;

$default-transition-delay: false !default;

// These values need to be singled out, and have the given prefixes added to them.
$transitionable-prefixed-values : transform ms webkit,
                                  transform-origin ms webkit,
                                  box-shadow webkit
                                  !default;

// One or more properties to transition
//
// * for multiple, use a comma-delimited list
// * also accepts "all" or "none"
@mixin transition-property(
  $property...
) {
  $properties: set-arglist-default($property, $default-transition-property);
  @include experimental(transition-property, $properties, $transition-support...);
}

// One or more durations in seconds
//
// * for multiple, use a comma-delimited list
// * these durations will affect the properties in the same list position
@mixin transition-duration(
  $duration...
) {
  $durations: set-arglist-default($duration, $default-transition-duration);
  @include experimental(transition-duration, $durations, $transition-support...);
}

// One or more timing functions
//
// * [ ease | linear | ease-in | ease-out | ease-in-out | cubic-bezier(x1, y1, x2, y2)]
// * For multiple, use a comma-delimited list
// * These functions will effect the properties in the same list position
@mixin transition-timing-function(
  $function...
) {
  $functions: set-arglist-default($function, $default-transition-function);
  @include experimental(transition-timing-function, $functions, $transition-support...);
}

// One or more transition-delays in seconds
//
// * for multiple, use a comma-delimited list
// * these delays will effect the properties in the same list position
@mixin transition-delay(
  $delay...
) {
  $delays: set-arglist-default($delay, $default-transition-delay);
  @include experimental(transition-delay, $delays, $transition-support...);
}

// Transition all-in-one shorthand
@mixin transition(
  $transition...
) {
  $transitions: set-arglist-default($transition, $default-transition-property $default-transition-duration $default-transition-function $default-transition-delay);
  @include experimental(transition, $transitions, $transition-support...);
}

// Single Transition all-in-one
@mixin single-transition(
  $property: $default-transition-property,
  $duration: $default-transition-duration,
  $function: $default-transition-function,
  $delay: $default-transition-delay
) {
  @include transition(compact($property $duration $function $delay));
}
