%ul(id="vertical-center")
  %li One really long element that should wrap.  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  %li Two
  %li Three
  %li Four
  %li Five
  %li Six

%ul(id="flexible")
  %li One
  %li Two
  %li Three
  %li Four
  %li Five
  %li Six

%ul(id="reorder")
  %li One
  %li Two
  %li Three
  %li Four
  %li Five
  %li Six

%section(id="layout")
  %header
    %h1 Header Title

    %nav
      %ul
        %li One
        %li Two
        %li Three

  %article
    %h1 Another Title

    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porta elit vel ante hendrerit facilisis. Curabitur aliquam sollicitudin diam, id posuere elit consectetur nec. Vestibulum quam dolor, feugiat in posuere a, posuere imperdiet tellus.

  %aside
    %h1 Aside Title

    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porta elit vel ante hendrerit facilisis.

  %footer
    %h1 Footer Title