--- 
title: Compass Constant Helpers
crumb: Constants
framework: compass
meta_description: Helper functions for working with constants.
layout: core
classnames:
  - reference
  - core
  - helpers
documented_functions:
  - "opposite-position"
---
%h1 Compass Constant Helpers

:markdown
  These helpers manipulate CSS Constants.

#opposite-position.helper
  %h3
    %a(href="#opposite-position")
      opposite-position(<span class="arg">$position</span>)
  .details
    :markdown
      Returns the opposition position for the position given. Examples:
      
          Input                              Output
          -------------------------------    ------------
          opposite-position(left)         => right
          opposite-position(top)          => bottom
          opposite-position(center)       => center
          opposite-position(top left)     => bottom right
          opposite-position(center right) => center left
