--- 
title: Compass Enumeration Helpers
crumb: Enumerate
framework: compass
meta_description: Helper functions for enumerating.
layout: core
classnames:
  - reference
  - core
  - helpers
---
%h1 Compass Enumerate Helper

#enumerate.helper
  %h3
    %a(href="#enumerate")
      enumerate(<span class="arg">$prefix</span>, <span class="arg">$from</span>, <span class="arg">$through</span>, <span class="arg" data-default-value='-'>$separator</span>)
  .details
    %p
      Enumerate the given <code>$prefix</code> from <code>$from</code> through <code>$through</code>.
    %p <em>Note:</em> Using the <code>@extend</code> directive is usually preferred to this helper, which was created before <code>@extend</code> existed.
  .examples
    %h4 Examples
    %ul
      %li
        %a(href="/docs/examples/compass/helpers/enumerate/") Example of enumerate
      %li
        %a(href="/docs/examples/compass/helpers/using-extend-in-place-of-enumerate/") Example of using <code>@extend</code> in place of enumerate


