.links
  %ul
    %li.media
      <a rel="license" href="/copyright/" id="cc-logo" class="m"><img alt="Creative Commons License" style="border-width:0;margin-top:7px" src="http://i.creativecommons.org/l/by-nc-sa/3.0/us/88x31.png" /></a>
      .bd Christopher M.<br>Eppstein
    %li
      Compass is Charityware -
      <br>
      Help the UMDF:
      %a(href="http://umdf.org/") Donate Now!
    %li
      %strong Problem with this page?
      <br>
      Please <a id="doc-issue" href="https://github.com/chriseppstein/compass/issues/new?labels=documentation">file a bug</a>.

:javascript
  $(function() {
    var href = $("#doc-issue").attr("href");
    var body_contents = "On Page: ";
    body_contents += document.location.toString();
    body_contents += "\n\nI was looking for:\n<details>\n\nBut instead I found:\n<more details>\n"
    href = href + "&body=" + encodeURIComponent(body_contents);
    $("#doc-issue").attr("href", href)
   });

- if content_for(@item, :footer)
  %hr
  = content_for(@item, :footer)
