%header#banner{:role => "banner"}
  %form#search-docs{:action => "/search/", :method => "GET"}
    %input#search{:name => "q", :type => "text", :value => "", :placeholder => "Search the docs"}

  %nav#main-nav{:role => "navigation"}
    %ul
      %li
        %a{:href => "/install/", :rel=> "install"} Install
      %li
        %a{:href => "/help/", :rel=> "help"} Help &amp; Documentation
      %li
        %a{:href => "/reference/compass/", :rel => "documentation"} Code Reference
      %li
        %a{:href => "/blog/", :rel=> "blog"} Blog
      %li
        %a{:href => "/get-involved/", :rel=> "get-involved"} Contribute
