p + p {
  text-indent: 2em;
  margin-top: -1.5em;
  /* Don't want this in forms. */ }
  form p + p {
    text-indent: 0; }

p.incr,
.incr p {
  font-size: 0.833em;
  line-height: 1.44em;
  margin-bottom: 1.5em; }

.caps {
  font-variant: small-caps;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-size: 1.2em;
  line-height: 1%;
  font-weight: bold;
  padding: 0 2px; }

.dquo {
  margin-left: -0.5em; }

.alt {
  color: #666666;
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal; }
