body a[href^="http:"],
body a[href^="mailto:"],
body a[href^="http:"]:visited,
body a[href$=".pdf"],
body a[href$=".doc"],
body a[href$=".xls"],
body a[href$=".rss"],
body a[href$=".rdf"],
body a[href^="aim:"] {
  padding: 2px 22px 2px 0;
  margin: -2px 0;
  background-repeat: no-repeat;
  background-position: right center; }
body a[href^="http:"] {
  background-image: url('/images/link_icons/external.png?1275377962'); }
body a[href^="mailto:"] {
  background-image: url('/images/link_icons/email.png?1275377962'); }
body a[href^="http:"]:visited {
  background-image: url('/images/link_icons/visited.png?1275377962'); }
body a[href$=".pdf"] {
  background-image: url('/images/link_icons/pdf.png?1275377962'); }
body a[href$=".doc"] {
  background-image: url('/images/link_icons/doc.png?1275377962'); }
body a[href$=".xls"] {
  background-image: url('/images/link_icons/xls.png?1275377962'); }
body a[href$=".rss"],
body a[href$=".rdf"] {
  background-image: url('/images/link_icons/feed.png?1275377962'); }
body a[href^="aim:"] {
  background-image: url('/images/link_icons/im.png?1275377962'); }
body a.noicon {
  background: transparent none !important;
  padding: 0 !important;
  margin: 0 !important; }
body a#this-is-a-pdf-link {
  padding: 2px 22px 2px 0;
  margin: -2px 0;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url('/images/link_icons/pdf.png?1275377962'); }
