html {
  margin: 0;
  padding: 0;
  border: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table, body, div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, tbody, tfoot, thead, tr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, q:before, blockquote:after, q:after {
    content: ""; }

th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

a img {
  border: none; }
