- if (constant_defs = constants(@item)).any?
  - variables = constant_defs.select{|d| d.guarded }
  - constants = constant_defs.reject{|d| d.guarded }
  - if variables.any?
    %h2
      Configurable Variables
      %a(href="/help/tutorials/configurable-variables/" class="help") help
    = render "partials/reference/const_table", :constants => variables

  - if constants.any?
    %h2 Constants
    = render "partials/reference/const_table", :constants => constants