- if (imported_libs = imports(@item)).any?
  %h2 Imports

  %ol
    - imported_libs.each do |import|
      %li
        - if path = reference_path(:stylesheet => import)
          %a{:href => path}= import
        - else
          = import
