- if (imported_libs = imports(@item)).any?
  - if imported_libs.size == 1000
    %p
      Automatically imports:
      - imported_libs.each do |import|
        = render "partials/reference/import-few", :import => import, :last => import == imported_libs.last
  - else
    %h2 Imports
    %ol
      - imported_libs.each do |import|
        %li= render "partials/reference/import", :import => import

