--- 
title: Compass CSS3
crumb: CSS3
framework: compass
stylesheet: compass/_css3.scss
classnames:
  - reference
meta_description: Provides cross browser CSS3 mixins that take advantage of available pre-spec vendor prefixes. 
---
- render 'reference' do
  %p
    The CSS3 module provides cross-browser mixins for CSS properties introduced in CSS3, for example <code id="border-radius">border-radius</code> and <code id="text-shadow">text-shadow</code>.