--- 
title: Compass Helpers
crumb: Helpers
framework: compass
layout: core
classnames:
  - reference
  - core
  - helpers
meta_description: Provides cross browser CSS3 mixins that take advantage of available pre-spec vendor prefixes. 
layout: core
---
%h1 Compass Helper Functions

:markdown
  The compass helpers are functions that augment the [functions provided
  by Sass](http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html).
  
  All Helpers:
  
  * [adjust-lightness()](/docs/reference/compass/helpers/colors/#adjust-lightness)
  * [adjust-saturation()](/docs/reference/compass/helpers/colors/#adjust-saturation)
  * [append-selector()](/docs/reference/compass/helpers/selectors/#append-selector)
  * [color-stops()](/docs/reference/compass/helpers/color-stops/)
  * [cos()](/docs/reference/compass/helpers/trig/#cos)
  * [elements-of-type()](/docs/reference/compass/helpers/display/)
  * [enumerate()](/docs/reference/compass/helpers/selectors/#enumerate)
  * [font-files()](/docs/reference/compass/helpers/font-files/)
  * [font-url()](/docs/reference/compass/helpers/urls/#stylesheet-url)
  * [headings()](/docs/reference/compass/helpers/selectors/#headings)
  * [image-width()](/docs/reference/compass/helpers/image-dimensions/#image-width)
  * [image-height()](/docs/reference/compass/helpers/image-dimensions/#image-height)
  * [image-url()](/docs/reference/compass/helpers/urls/#image-url)
  * [inline-font-files()](/docs/reference/compass/helpers/inline-data/#inline-font-files)
  * [inline-image()](/docs/reference/compass/helpers/inline-data/#inline-image)
  * [nest()](/docs/reference/compass/helpers/selectors/#nest)
  * [pi()](/docs/reference/compass/helpers/trig/#pi)
  * [sin()](/docs/reference/compass/helpers/trig/#sin)
  * [stylesheet-url()](/docs/reference/compass/helpers/urls/#stylesheet-url)
  * [scale-lightness()](/docs/reference/compass/helpers/colors/#scale-lightness)
  * [tan()](/docs/reference/compass/helpers/trig/#tan)

