--- 
title: Compass Helpers
crumb: Helpers
framework: compass
sidebar: true
layout: core
classnames:
  - reference
  - core
  - helpers
meta_description: Provides cross browser CSS3 mixins that take advantage of available pre-spec vendor prefixes. 
layout: core
---
%h1 Compass Helper Functions

:markdown
  The compass helpers are functions that augment the [functions provided
  by Sass](http://sass-lang.com/yardoc/Sass/Script/Functions.html).
  
  All Helpers:
  
  * [adjust-lightness()](/reference/compass/helpers/colors/#adjust-lightness)
  * [adjust-saturation()](/reference/compass/helpers/colors/#adjust-saturation)
  * [append-selector()](/reference/compass/helpers/selectors/#append-selector)
  * [color-stops()](/reference/compass/helpers/color-stops/)
  * [cos()](/reference/compass/helpers/trig/#cos)
  * [css2-fallback()](/reference/compass/helpers/cross-browser/#css2-fallback)
  * [elements-of-type()](/reference/compass/helpers/display/)
  * [enumerate()](/reference/compass/helpers/selectors/#enumerate)
  * [font-files()](/reference/compass/helpers/font-files/)
  * [font-url()](/reference/compass/helpers/urls/#stylesheet-url)
  * [headings()](/reference/compass/helpers/selectors/#headings)
  * [image-width()](/reference/compass/helpers/image-dimensions/#image-width)
  * [image-height()](/reference/compass/helpers/image-dimensions/#image-height)
  * [image-url()](/reference/compass/helpers/urls/#image-url)
  * [inline-font-files()](/reference/compass/helpers/inline-data/#inline-font-files)
  * [inline-image()](/reference/compass/helpers/inline-data/#inline-image)
  * [nest()](/reference/compass/helpers/selectors/#nest)
  * [prefix()](/reference/compass/helpers/cross-browser/#prefix)
  * [prefixed()](/reference/compass/helpers/cross-browser/#prefixed)
  * [pi()](/reference/compass/helpers/trig/#pi)
  * [sin()](/reference/compass/helpers/trig/#sin)
  * [stylesheet-url()](/reference/compass/helpers/urls/#stylesheet-url)
  * [scale-lightness()](/reference/compass/helpers/colors/#scale-lightness)
  * [tan()](/reference/compass/helpers/trig/#tan)
  * [-css2()](/reference/compass/helpers/cross-browser/#-css2)
  * [-moz()](/reference/compass/helpers/cross-browser/#-moz)
  * [-ms()](/reference/compass/helpers/cross-browser/#-ms)
  * [-o()](/reference/compass/helpers/cross-browser/#-o)
  * [-pie()](/reference/compass/helpers/cross-browser/#-pie)
  * [-svg()](/reference/compass/helpers/cross-browser/#-svg)
  * [-webkit()](/reference/compass/helpers/cross-browser/#-webkit)

