--- 
title: Compass Helpers
crumb: Helpers
framework: compass
layout: core
classnames:
  - reference
  - core
  - helpers
meta_description: Provides cross browser CSS3 mixins that take advantage of available pre-spec vendor prefixes. 
layout: core
---

:markdown
  The compass helpers are functions that augment the [functions provided
  by Sass](http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html).
  
  All Helpers:
  
  * [elements-of-type](/docs/reference/compass/helpers/display/)
  * [enumerate](/docs/reference/compass/helpers/enumerate/)
