--- 
title: Compass Layout
crumb: Layout
framework: compass
stylesheet: compass/_layout.scss
meta_description: Page layout module. So far, this is just the sticky-footer mixin.
layout: core
classnames:
  - reference
  - core
  - layout
---
- render 'reference' do
  %p
    This module provides tools to help you with page layout.
    So far, it's just the <code>sticky-footer</code> mixin.
