--- 
title: Compass Layout
crumb: Layout
framework: compass
stylesheet: compass/_layout.scss
meta_description: Page layout module. So far, this is just the sticky-footer mixin.
classnames:
  - reference
---
- render 'reference' do
  %p
    This module provides tools to help you with page layout.
    So far, it's just the stick-footer mixin.
