--- 
title: Compass Misc
crumb: Misc
framework: compass
stylesheet: compass/_misc.scss
meta_description: Cute stuff you probably don't need.
classnames:
  - reference
---
- render 'reference' do
  %p
    This mixin lets you style an Unobtrusive CSS logo obtrusively.
