--- 
title: Compass Misc
crumb: Misc
framework: compass
stylesheet: compass/_misc.sass
meta_description: Cute stuff you probably don't need.
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
