--- 
title: Compass Reset
crumb: Reset
framework: compass
stylesheet: compass/_reset.scss
layout: core
classnames:
  - reference
  - core
  - reset
meta_description: Adds a CSS Reset into your stylesheet.
---
- render 'reference' do
  This module applies the <a href="/docs/reference/compass/utilities/general/reset/#mixin-global-reset">global reset</a> to your stylesheet by simply importing it.
