--- 
title: Compass Reset
crumb: Reset
framework: compass
stylesheet: compass/_reset.scss
layout: core
sidebar: true
classnames:
  - reference
  - core
  - reset
meta_description: Adds a CSS Reset into your stylesheet.
---
- render 'reference' do
  :markdown
    This module applies the [global reset](/reference/compass/reset/utilities/#mixin-global-reset)
    to your stylesheet by simply importing it.
    
    **Note:** This module will place styles into your stylesheet by importing it. This
    is not the standard behavior of a compass module but it optimizes the common use case.
    If you want to control the reset, please use the mixins defined in the [reset
    utilities module](/reference/compass/reset/utilities/) 
