--- 
title: Compass Reset
crumb: Reset
framework: compass
stylesheet: compass/_reset.sass
classnames:
  - reference
meta_description: Adds a CSS Reset into your stylesheet.
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
