--- 
title: Compass Reset
crumb: Reset
framework: compass
stylesheet: compass/_reset.scss
layout: core
classnames:
  - reference
  - core
meta_description: Adds a CSS Reset into your stylesheet.
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
