--- 
title: Compass Cross-Browser Support Configuration
crumb: Browser Support
framework: compass
stylesheet: compass/_support.scss
classnames:
  - reference
  - core
  - support
meta_description: Provides configuration options for the Compass Browser Support Matrix.
layout: core
navigable: false
---
- render 'reference' do
  %p
    You can configure the compass default browser support matrix by
    setting these variables as needed.
