--- 
title: Compass Typography
crumb: Typography
framework: compass
sidebar: true
stylesheet: compass/_typography.scss
classnames:
  - reference
  - core
  - typography
meta_description: Provides basic mixins for common typography patterns.
layout: core
nav_stylesheet: compass/_typography.scss
---
- render 'reference' do
  %p
    The Compass Typography module provides some basic mixins
    for common text styling patterns.
