--- 
title: Compass Utilities
crumb: Utilities
framework: compass
stylesheet: compass/_utilities.sass
classnames:
  - reference
meta_description: Provides basic mixins for common styling patterns.
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
