--- 
title: Compass Utilities
crumb: Utilities
framework: compass
stylesheet: compass/_utilities.sass
classnames:
  - reference
meta_description: Provides basic mixins for common styling patterns.
---
- render 'reference' do
  %p
    The Compass Utilities module provides some basic mixins
    for common styling patterns.
