--- 
title: Compass Utilities
crumb: Utilities
framework: compass
sidebar: true
stylesheet: compass/_utilities.scss
classnames:
  - reference
  - core
  - utilities
meta_description: Provides basic mixins for common styling patterns.
layout: core
nav_stylesheet: compass/_utilities.scss
---
- render 'reference' do
  %p
    The Compass Utilities module provides some basic mixins
    for common styling patterns.
