--- 
title: Compass Table Borders
crumb: Table Borders
framework: compass
stylesheet: compass/utilities/tables/_borders.scss
layout: core
meta_description: Add borders to a table.
classnames:
  - reference
  - core
  - utilities
---
= render 'reference'
