---
title: Compass Sticky Footer Example
description: How to use the sticky footer mixin.
framework: compass
stylesheet: compass/layout/_sticky_footer.sass
example: true
---
= render "partials/example"
