---
title: Compass Stretch Layout Example
description: How to do stretch out your elements.
framework: compass
stylesheet: compass/layout/_stretching.scss
example: true
---
= render "partials/example"
