---
title: Compass Sticky Footer Example
description: How to use the sticky footer mixin.
framework: compass
stylesheet: compass/layout/_sticky-footer.scss
example: true
---
= render "partials/example"
