--- 
title: Compass Sticky Footer
crumb: Sticky Footer
framework: compass
stylesheet: compass/layout/_sticky-footer.scss
layout: core
classnames:
  - reference
  - core
  - layout
---
- render 'reference' do
  %p
    This module provides tools needed to lay out your footer such
    that it sticks to the bottom of the page.
