--- 
title: Compass Sticky Footer
crumb: Sticky Footer
framework: compass
stylesheet: compass/layout/_sticky_footer.sass
classnames:
  - reference
---
- render 'reference' do
  %p
    This module provides tools needed to lay out your footer such
    that it sticks to the bottom of the page.
