--- 
title: Compass Sticky_footer
crumb: Sticky_footer
framework: compass
stylesheet: compass/layout/_sticky_footer.sass
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
