--- 
title: Compass Stretching
crumb: Stretching
framework: compass
stylesheet: compass/layout/_stretching.scss
layout: core
classnames:
  - reference
  - core
  - layout
---
- render 'reference' do
  %p
    The stretch mixins allow you to style absolutely positioned elements
    such that they will stretch to fill their positioning parent.
