.example
  #padding-box(style="background-image: url(background/);")
    Padding Box
  #border-box(style="background-image: url(background/);")
    Border Box
  #content-box(style="background-image: url(background/);")
    Content Box