$font-color:     #333333 !default;
$quiet-color:    $font-color + #333333 !default;
$loud-color:     $font-color - #222222 !default;
$header-color:   $font-color - #111111 !default;
$alt-text-color: #666666 !default;

$link-color:         #000099               !default;
$link-hover-color:   black                 !default;
$link-focus-color:   $link-hover-color     !default;
$link-active-color:  $link-color + #cc0000 !default;
$link-visited-color: $link-color - #333333 !default;

$feedback-border-color: #dddddd !default;
$success-color:         #264409 !default;
$success-bg-color:      #e6efc2 !default;
$success-border-color:  #c6d880 !default;
$notice-color:          #514721 !default;
$notice-bg-color:       #fff6bf !default;
$notice-border-color:   #ffd324 !default;
$error-color:           #8a1f11 !default;
$error-bg-color:        #fbe3e4 !default;
$error-border-color:    #fbc2c4 !default;

$highlight-color:        yellow !default;
$added-color:             white !default;
$added-bg-color:        #006600 !default;
$removed-color:           white !default;
$removed-bg-color:      #990000 !default;

$blueprint-table-header-color: #c3d9ff !default;
$blueprint-table-stripe-color: #e5ecf9 !default;
