// mix this into a body element
=blueprint-ie
  :text-align center
  .container
    :text-align left
  * html &
    legend
      :margin -18px -8px 16px 0
      :padding 0
  ol
    :margin-left 2em
  sup
    :vertical-align text-top
  sub
    :vertical-align text-bottom
  html>& p code
    :*white-space normal
  hr
    :margin -8px auto 11px
