%p
  this div will change scale on hover

#scale.transform-example

%p
  this div will rotate on hover

#rotate.transform-example

%p
  this div will translate on hover

#translate.transform-example

%p
  this div will skew on hover

#skew.transform-example

%p
  this div will change scale, rotate, translate and skew on hover

#combo.transform-example