---
title: Compass Documentation | All Mixins
crumb: Docs
body_id: home
---
%article
  %h1#logo Compass Mixins
  
  - all_mixins.sort_by{|i| i.first.identifier}.each do |item, mixins|
    %h3= link_to item[:title], item
    %ul
      - mixins.sort_by{|m| m.name}.each do |m|
        %li= m.sass_signature(:none, :html)

