---
title: Compass Documentation | All Mixins
crumb: Docs
body_id: home
---
%article
  %h1#logo Compass Mixins
  
  - all_mixins.sorted_and_grouped_by_name{|m| m.last.name }.each do |(group, mixins)|
    %h3= group
    %ul
      - mixins.each do |(i, m)|
        %li
          %a{:href=>"#{i.path}#mixin-#{m.name}"}= m.sass_signature(:none, :html)
