---
title: Compass Documentation | All Variables
crumb: Docs
body_id: home
---
%article
  %h1#logo Compass Variables
  
  - all_constants.sorted_and_grouped_by_name{|v| v.last.name }.each do |(group, variables)|
    %h3= group
    %ul
      - variables.each do |(i, v)|
        %li
          %a{:href=>"#{i.path}#const-#{v.name}"}= "$" + v.name
  