.example
  .no-clearfix
    .float No Clearfix. All floats will leak outside the containing box
  .overflow-clearfix
    .float Overflow Clearfix. All floats will be contained inside of the current box unless affected by leaking floats.
  .overflow-clearfix
    .float Overflow Clearfix. All floats will be contained inside of the current box unless affected by leaking floats.
  .no-clearfix
    .float No Clearfix. All floats will leak outside the containing box
  .legacy-clearfix
    .float Legacy Clearfix. All floats will be contained inside of the current box unless affected by leaking floats.
  .legacy-clearfix
    .float Legacy Clearfix. All floats will be contained inside of the current box unless affected by leaking floats.
  .no-clearfix
    .float No Clearfix. All floats will leak outside the containing box
  .micro-clearfix
    .float Micro Clearfix. All floats will be contained inside of the current box unless affected by leaking floats.
  .micro-clearfix
    .float Micro Clearfix. All floats will be contained inside of the current box unless affected by leaking floats.
  .no-clearfix
    .float No Clearfix. All floats will leak outside the containing box
  .modern-clearfix
    .float Modern Clearfix. All floats will be contained inside of the current box unless affected by leaking floats.
  .modern-clearfix
    .float Modern Clearfix. All floats will be contained inside of the current box unless affected by leaking floats.