--- 
title: Compass Alternating Rows and Columns
crumb: Alternating Rows And Columns
framework: compass
stylesheet: compass/utilities/tables/_alternating-rows-and-columns.scss
layout: core
nav_stylesheet: compass/_utilities.scss
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
