--- 
title: Compass Alternating Rows and Columns
crumb: Alternating Rows And Columns
framework: compass
stylesheet: compass/utilities/tables/_alternating_rows_and_columns.sass
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
