--- 
title: Compass Alternating_rows_and_columns
crumb: Alternating_rows_and_columns
framework: compass
stylesheet: compass/utilities/tables/_alternating_rows_and_columns.sass
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
