--- 
title: Compass Table Striping
crumb: Table Striping
framework: compass
stylesheet: compass/utilities/tables/_alternating-rows-and-columns.scss
layout: core
meta_description: Add striping to a table.
classnames:
  - reference
  - core
  - utilities
---
- render 'reference' do
  :markdown
    Add striping to a table in both directions based on a few colors.
