--- 
title: Compass Borders
crumb: Borders
framework: compass
stylesheet: compass/utilities/tables/_borders.scss
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
