--- 
title: Compass Table Scaffolding
crumb: Table Scaffolding
framework: compass
stylesheet: compass/utilities/tables/_scaffolding.scss
layout: core
meta_description: Basic styling of tables to get you started.
classnames:
  - reference
  - core
  - utilities
---
- render 'reference' do
  %p
    Basic styling of tables to get you started.
