--- 
title: Compass Scaffolding
crumb: Scaffolding
framework: compass
stylesheet: compass/utilities/tables/_scaffolding.scss
classnames:
  - reference
---
- render 'reference' do
  %p
    Lorem ipsum dolor sit amet.
