@import blueprint/reset
@import compass/utilities

@import blueprint

body
  font-family: "Lucida Sans", "Lucida Grande", Lucida, sans-serif
  line-height: 1.5

#container
  +container

#main
  +column(18, true)
  +prepend(6)

#sidebar
  +column(6)
  +pull(24, true)

body.reference
  h3.mixin
    background-color: #eee
    border: 3px solid #aaa
    padding: 0.75em
    margin-bottom: 0
    a.permalink
      +hover-link
      +link-colors("inherit", "inherit")
  .source-documentation
    background-color: #eee
    border: 3px solid #aaa
    border-top-width: 0
    padding: 0.75em
  a.view-source
    float: right
    margin: 1.25em
  