@import blueprint/reset
@import compass/utilities
@import compass/css3

@import blueprint

body
  font-family: "Lucida Sans", "Lucida Grande", Lucida, sans-serif
  line-height: 1.5

#container
  +container

#main
  +column(18, true)
  +prepend(6)

#sidebar
  +column(6)
  +pull(24, true)

body.reference
  h3.mixin
    background-color: #eee
    border: 3px solid #aaa
    padding: 0.75em
    margin-bottom: 0
    a.permalink
      +hover-link
      +link-colors("inherit", "inherit")
  .source-documentation
    background-color: #eee
    border: 3px solid #aaa
    border-top-width: 0
    padding: 0.75em
  a.view-source
    float: right
    margin: 1.25em
  span.color
    border-bottom: 1px dotted #333
  .color-snippet
    width: 100px
    height: 20px
    +border-radius(3px)

  
  .tipsy
    padding: 5px
    font-size: 10px
    background-repeat: no-repeat
    background-image= image_url("tipsy.gif")
    &-north
      background-position: top center
    &-south
      background-position: bottom center
    &-east
      background-position: right center
    &-west
      background-position: left center
    &-inner
      padding: 5px 8px 5px 8px
      background-color: black
      color: white
      max-width: 200px
      text-align: center
      +border-radius(3px)

table.constants
  width: 100%
  +alternating-rows-and-columns(#eee, #bbb, #191919)
  +outer-table-borders(2px)
  +inner-table-borders(1px)
  td, th
    padding: 0.25em 0.5em
  
ol#breadcrumbs
  +horizontal-list
  +no-bullets
  li:after
    content: " > "
  li.last:after
    content: ""