!!! 5
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %title Basic CSS3 Demos
    %link{:charset => "utf-8", :href => "stylesheets/pie.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  %body
    .section
      %h2 border-radius
      #test1.test Cherry
      %code
        %strong
          border-radius: 1em;   /* Standard */
          \-moz-border-radius: 1em;   /* Gecko */
          \-webkit-border-radius: 1em;   /* WebKit */
    .section
      %h2 box-shadow
      #test2.test Apple
      %code
        border-radius: 1em;
        \-moz-border-radius: 1em;
        \-webkit-border-radius: 1em;
        %strong
          box-shadow: #999 0 .25em .5em;
          \-webkit-box-shadow: #999 0 .25em .5em;
          \-moz-box-shadow: #999 0 .25em .5em;
    .section
      %h2 linear-gradient
      #test3.test Blueberry
      %code
        border-radius: 1em;
        \-moz-border-radius: 1em;
        \-webkit-border-radius: 1em;
        box-shadow: #999 0 .25em .5em;
        \-webkit-box-shadow: #999 0 .25em .5em;
        \-moz-box-shadow: #999 0 .25em .5em;
        %strong
          background: #9CF;   /* Fallback */
          background: -webkit-gradient(linear, 0 0, 0 100%, from(#9CF), to(#03C));
          background: -moz-linear-gradient(#9CF, #03C);
          background: linear-gradient(#9CF, #03C);
    .section
      %h2 multiple background images
      #test4.test Rhubarb
      %code
        border-radius: 1em;
        \-moz-border-radius: 1em;
        \-webkit-border-radius: 1em;
        box-shadow: #999 0 .25em .5em;
        \-webkit-box-shadow: #999 0 .25em .5em;
        \-moz-box-shadow: #999 0 .25em .5em;
        %strong
          background: url(icon-ie.png) no-repeat 50% 0 #FFF;   /* Fallback */
          background: url(icon-ie.png) no-repeat 50% 0,
          url(icon-firefox.png) no-repeat 0 0,
          url(icon-chrome.png) no-repeat 100% 0,
          url(icon-safari.png) no-repeat 0 100%,
          url(icon-opera.png) no-repeat 100% 100% #FFF;
    .section
      %h2 border-image
      #test5.test Pumpkin
      %code
        border-radius: 1em;
        \-moz-border-radius: 1em;
        \-webkit-border-radius: 1em;
        box-shadow: #999 0 .25em .5em;
        \-webkit-box-shadow: #999 0 .25em .5em;
        \-moz-box-shadow: #999 0 .25em .5em;
        %strong
          border-image: url(border2.png) 15 fill stretch;
          \-moz-border-image: url(border2.png) 15 stretch;
          \-webkit-border-image: url(border2.png) 15 stretch;
          border: 15px solid transparent;
