!!!
%html
  %head
    %link{:href => "stylesheets/sprites.css", :rel => "stylesheet", :type => "text/css"}
  %body
    %h1 Flags
    %table#flags
      %tr
        %td.us
        %td.de
        %td.ca
      %tr
        %td.au
        %td.cn
        %td.cz
      %tr
        %td.nz
        %td.jp
        %td.scotland
      %tr
        %td.tw
        %td.rs
        %td.gb
    %h1 Emblems
    %table#emblems
      %tr
        %td.favorite
        %td.important
        %td.photos
      %tr
        %td.readonly
        %td.symbolic-link
        %td.system
      %tr
        %td.unreadable
        %td
        %td
