--- 
title: Blueprint Reset Utilities
crumb: Reset Utilities
framework: blueprint
stylesheet: blueprint/reset/_utilities.scss
layout: blueprint
classnames:
  - reference
  - blueprint
---
- render 'reference' do
  %p
    Utility mixins for applying a reset and base styling.
